AAT/deliverables/workflow.json
{"updatedAt": "2026-03-28T15:57:27.456Z", "createdAt": "2026-03-27T00:32:56.850Z", "id": "4s1Qyu5nguAssl39", "name": "Content Pipeline \u2014 Intake, Drafts & Publishing", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "cf-content-submit", "responseMode": "responseNode", "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000001", "name": "Webhook - Content Submit", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "001a4d0e-c64e-4c8d-89e8-3c684fc84af5"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst errors = [];\n\nif (!body || typeof body !== 'object') {\n  errors.push('Request body is required');\n}\n\nconst rawIdea = body?.rawIdea?.toString().trim() || '';\nconst url = body?.url?.toString().trim() || '';\n\nif (!rawIdea && !url) {\n  errors.push('Either rawIdea or url must be provided');\n}\n\nif (url && !/^https?:\\/\\/.+\\..+/.test(url)) {\n  errors.push('url must be a valid HTTP/HTTPS URL');\n}\n\nif (rawIdea && rawIdea.length > 10000) {\n  errors.push('rawIdea must be under 10,000 characters');\n}\n\nconst payloadSize = JSON.stringify(body).length;\nif (payloadSize > 1048576) {\n  errors.push('Payload exceeds 1MB size limit');\n}\n\n// Sanitize inputs\nconst sanitized = {\n  rawIdea: rawIdea.replace(/<[^>]*>/g, '').substring(0, 10000),\n  url: url,\n  publishImmediately: body?.publishImmediately === true,\n};\n\nif (errors.length > 0) {\n  return [{json: {error: true, statusCode: 400, message: errors.join('; ')}}];\n}\n\nreturn [{json: {error: false, ...sanitized}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000002", "name": "Validate Input Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 0]}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst content = input.rawIdea || input.url;\n\n// Simple hash function\nlet hash = 0;\nfor (let i = 0; i < content.length; i++) {\n  const char = content.charCodeAt(i);\n  hash = ((hash << 5) - hash) + char;\n  hash = hash & hash;\n}\nconst contentHash = Math.abs(hash).toString(36);\n\nconst submissionId = 'sub_' + Date.now().toString(36) + '_' + Math.random().toString(36).substring(2, 8);\nconst tenMinAgo = new Date(Date.now() - 10 * 60 * 1000).toISOString();\n\nreturn [{json: {\n  ...input,\n  submissionId,\n  contentHash,\n  tenMinAgo,\n  createdAt: new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000003", "name": "Generate Submission ID & Dedup Hash", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [560, 112]}, {"parameters": {"url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "content_hash", "value": "=eq.{{ $json.contentHash }}"}, {"name": "created_at", "value": "=gt.{{ $json.tenMinAgo }}"}, {"name": "select", "value": "id,content_hash,created_at"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "a1b2c3d4-1001-4000-8001-000000000004", "name": "Check Duplicate in Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [672, 0], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000, "alwaysOutputData": true}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-dup-check", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "name": "filter.operator.exists", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000005", "name": "Is Duplicate?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [880, 0]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: false, error: 'Duplicate submission detected. A similar content was submitted within the last 10 minutes.', statusCode: 409 }) }}", "options": {"responseCode": 409}}, "id": "a1b2c3d4-1001-4000-8001-000000000006", "name": "Return Duplicate Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1104, -144]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "cond-url-check", "leftValue": "={{ $('Generate Submission ID & Dedup Hash').first().json.url }}", "rightValue": "", "operator": {"type": "string", "operation": "notEquals", "name": "filter.operator.notEquals", "singleValue": false}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000007", "name": "URL Provided?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 112]}, {"parameters": {"url": "={{ $('Generate Submission ID & Dedup Hash').first().json.url }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}, {"name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}, {"name": "Accept-Language", "value": "en-US,en;q=0.9"}]}, "options": {"redirect": {"redirect": {"maxRedirects": 5}}, "response": {"response": {"responseFormat": "text"}}, "timeout": 15000}}, "id": "a1b2c3d4-1001-4000-8001-000000000008", "name": "Fetch URL Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1328, -48], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst url = $('Generate Submission ID & Dedup Hash').first().json.url || '';\n\nlet html = '';\nif (typeof input === 'string') html = input;\nelse if (input.data) html = input.data;\nelse if (input.body) html = input.body;\nelse html = JSON.stringify(input);\n\nconst isYouTube = /(?:youtube\\.com\\/watch|youtu\\.be\\/|youtube\\.com\\/shorts\\/)/.test(url);\nconst isInstagram = /instagram\\.com\\/(?:p|reel|tv)\\//.test(url);\n\n// === YOUTUBE: get transcript via local transcript service ===\nif (isYouTube) {\n  let videoTitle = '';\n  const titleMatch = html.match(/<meta\\s+name=\"title\"\\s+content=\"([^\"]+)\"/i)\n    || html.match(/\"title\":\"([^\"]+)\"/);\n  if (titleMatch) videoTitle = titleMatch[1];\n\n  // Call the transcript service\n  let transcript = '';\n  try {\n    const transcriptResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'http://127.0.0.1:3456/?url=' + encodeURIComponent(url),\n      returnFullResponse: false,\n      timeout: 30000\n    });\n    \n    const tData = typeof transcriptResp === 'string' ? JSON.parse(transcriptResp) : transcriptResp;\n    transcript = tData.transcript || '';\n    if (tData.title && !videoTitle) videoTitle = tData.title;\n  } catch(e) {\n    // Transcript service unavailable \u2014 fall back to description\n  }\n\n  // Fallback to description if transcript empty\n  if (!transcript) {\n    const descMatch = html.match(/\"shortDescription\":\"((?:[^\"\\\\]|\\\\.)*)\"/);\n    if (descMatch) transcript = descMatch[1].replace(/\\\\n/g, '\\n');\n  }\n\n  if (!transcript || transcript.length < 30) {\n    return [{json: {error: true, message: 'Could not extract transcript from YouTube video. No captions available.'}}];\n  }\n\n  const isTranscript = transcript.length > 200;\n  const label = isTranscript ? 'YouTube Video Transcript' : 'YouTube Video Description';\n  let text = `[Source: ${label}]\\nTitle: ${videoTitle}\\n\\n${transcript}`;\n  if (text.length > 8000) text = text.substring(0, 8000);\n  return [{json: {extractedContent: text, charCount: text.length, title: videoTitle, inputType: 'url'}}];\n}\n\n// === INSTAGRAM ===\nif (isInstagram) {\n  let caption = '';\n  const metaMatch = html.match(/<meta[^>]+content=\"([^\"]+)\"[^>]+property=\"og:description\"/i)\n    || html.match(/<meta[^>]+property=\"og:description\"[^>]+content=\"([^\"]+)\"/i);\n  if (metaMatch) caption = metaMatch[1];\n  let title = '';\n  const ogTitle = html.match(/<meta[^>]+property=\"og:title\"[^>]+content=\"([^\"]+)\"/i);\n  if (ogTitle) title = ogTitle[1];\n  if (!caption || caption.length < 10) {\n    return [{json: {error: true, message: 'Could not extract content from Instagram post.'}}];\n  }\n  let text = `[Source: Instagram]\\nTitle: ${title}\\n\\n${caption}`;\n  if (text.length > 5000) text = text.substring(0, 5000);\n  return [{json: {extractedContent: text, charCount: text.length, title: title, inputType: 'url'}}];\n}\n\n// === REGULAR WEBPAGE \u2014 SMART ARTICLE EXTRACTION ===\nlet title = '';\nconst ogTitleMatch = html.match(/<meta[^>]+property=\"og:title\"[^>]+content=\"([^\"]+)\"/i)\n  || html.match(/<meta[^>]+content=\"([^\"]+)\"[^>]+property=\"og:title\"/i);\nif (ogTitleMatch) title = ogTitleMatch[1].trim();\nif (!title) {\n  const pageTitleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\n  if (pageTitleMatch) title = pageTitleMatch[1].trim();\n}\n\nlet ogDesc = '';\nconst ogDescMatch = html.match(/<meta[^>]+property=\"og:description\"[^>]+content=\"([^\"]+)\"/i)\n  || html.match(/<meta[^>]+content=\"([^\"]+)\"[^>]+property=\"og:description\"/i)\n  || html.match(/<meta[^>]+name=\"description\"[^>]+content=\"([^\"]+)\"/i);\nif (ogDescMatch) ogDesc = ogDescMatch[1].trim();\n\nhtml = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\nhtml = html.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\nhtml = html.replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '');\nhtml = html.replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '');\nhtml = html.replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '');\nhtml = html.replace(/<aside[^>]*>[\\s\\S]*?<\\/aside>/gi, '');\nhtml = html.replace(/<noscript[^>]*>[\\s\\S]*?<\\/noscript>/gi, '');\nhtml = html.replace(/<iframe[^>]*>[\\s\\S]*?<\\/iframe>/gi, '');\nhtml = html.replace(/<svg[^>]*>[\\s\\S]*?<\\/svg>/gi, '');\nhtml = html.replace(/<form[^>]*>[\\s\\S]*?<\\/form>/gi, '');\nhtml = html.replace(/<button[^>]*>[\\s\\S]*?<\\/button>/gi, '');\nhtml = html.replace(/<input[^>]*>/gi, '');\nhtml = html.replace(/<select[^>]*>[\\s\\S]*?<\\/select>/gi, '');\n\nfunction cleanHtml(h) {\n  let t = h.replace(/<[^>]+>/g, ' ');\n  t = t.replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>')\n    .replace(/&nbsp;/g,' ').replace(/&quot;/g,'\"').replace(/&#39;/g,\"'\")\n    .replace(/&#\\d+;/g,'').replace(/&\\w+;/g,'');\n  return t.replace(/\\s+/g, ' ').trim();\n}\n\nlet articleContent = '';\nconst articleMatch = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\nif (articleMatch) articleContent = cleanHtml(articleMatch[1]);\n\nlet mainContent = '';\nif (!articleContent || articleContent.length < 200) {\n  const mainMatch = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (mainMatch) mainContent = cleanHtml(mainMatch[1]);\n}\n\nlet roleContent = '';\nif (!articleContent && !mainContent) {\n  const roleMatch = html.match(/<div[^>]+role=\"main\"[^>]*>([\\s\\S]*?)<\\/div>/i)\n    || html.match(/<div[^>]+class=\"[^\"]*(?:post-content|article-content|entry-content|blog-content|post-body|article-body|content-body|single-post|story-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i);\n  if (roleMatch) roleContent = cleanHtml(roleMatch[1] || roleMatch[2]);\n}\n\nlet bestSection = '';\nif (!articleContent && !mainContent && !roleContent) {\n  const sections = html.split(/<div[^>]*>/i);\n  let maxP = 0;\n  for (const section of sections) {\n    const pCount = (section.match(/<p[\\s>]/gi) || []).length;\n    const cleaned = cleanHtml(section);\n    if (pCount > maxP && cleaned.length > 200) {\n      maxP = pCount;\n      bestSection = cleaned;\n    }\n  }\n}\n\nlet text = articleContent || mainContent || roleContent || bestSection;\nif (!text || text.length < 100) text = cleanHtml(html);\n\ntext = text.replace(/Sign up|Sign in|Log in|Subscribe|Newsletter|Cookie|Accept all|Reject all|Privacy Policy|Terms of Service|\u00a9\\s*\\d{4}/gi, '');\ntext = text.replace(/Share on \\w+|Share this|Tweet this|Pin it|Email this/gi, '');\ntext = text.replace(/Read more|Load more|Show more|See all|View all/gi, '');\ntext = text.replace(/\\d+ min read|\\d+ minute read/gi, '');\ntext = text.replace(/\\s+/g, ' ').trim();\n\nif (title && !text.startsWith(title)) text = title + '\\n\\n' + text;\nif (text.length > 5000) text = text.substring(0, 5000);\n\nif (text.length < 50) {\n  if (ogDesc && ogDesc.length >= 30) {\n    text = title + '\\n\\n' + ogDesc;\n  } else {\n    return [{json: {error: true, message: 'Could not extract article content from URL.'}}];\n  }\n}\n\nreturn [{json: {extractedContent: text, charCount: text.length, title: title, inputType: 'url'}}];\n"}, "id": "a1b2c3d4-1001-4000-8001-000000000009", "name": "Extract Text from URL Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1552, -48]}, {"parameters": {"jsCode": "const prev = $('Generate Submission ID & Dedup Hash').first().json;\nreturn [{json: {\n  ...prev,\n  contentBase: prev.rawIdea,\n  inputType: 'raw_idea'\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000010", "name": "Use Raw Idea", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1328, 208]}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst prev = $('Generate Submission ID & Dedup Hash').first().json;\n\n// extractedContent comes from URL path, contentBase from raw idea path\nconst contentBase = input.contentBase || input.extractedContent || prev.rawIdea || '';\n\nreturn [{json: {\n  submissionId: prev.submissionId || input.submissionId,\n  contentHash: prev.contentHash || input.contentHash,\n  contentBase: contentBase,\n  inputType: input.inputType || prev.inputType || 'raw_idea',\n  rawIdea: prev.rawIdea || '',\n  url: prev.url || '',\n  publishImmediately: prev.publishImmediately || false,\n  createdAt: prev.createdAt || new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000011", "name": "Prepare Content Base", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1760, 112]}, {"parameters": {"method": "POST", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"id\": \"{{ $json.submissionId }}\",\n  \"content_hash\": \"{{ $json.contentHash }}\",\n  \"content_base\": {{ JSON.stringify($json.contentBase) }},\n  \"input_type\": \"{{ $json.inputType }}\",\n  \"raw_input\": {{ JSON.stringify($json.rawIdea || '') }},\n  \"publish_immediately\": {{ $json.publishImmediately }},\n  \"status\": \"generating\",\n  \"created_at\": \"{{ $json.createdAt }}\"\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "a1b2c3d4-1001-4000-8001-000000000012", "name": "Save Submission to Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1984, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert content writer for a marketing agency called Fetemi. Write an SEO-optimized article taking a CONTRARIAN or challenge-the-status-quo angle on the topic provided.\\n\\nSEO RULES (follow ALL strictly):\\n\\nKEYWORD INTEGRATION:\\n1. Extract primary keywords from the content idea\\n2. Integrate primary keyword into the H1 title AND within the first 100 words\\n3. Analyze the topic to identify long-tail keywords and short-tail keywords\\n4. Integrate these keywords naturally into body text and H2/H3 headers\\n\\nSTRUCTURE OPTIMIZATION:\\n5. Use strict heading hierarchy: One H1 title \\u2192 H2 section headers \\u2192 H3 subheaders\\n6. Aim for 700-800 words per main section (total article should be 2000-2500 words)\\n7. Keep paragraphs short: 2-3 sentences max\\n\\nCONTENT ENRICHMENT:\\n8. Include 2-3 relevant internal or external link suggestions (mark as [LINK: url or description])\\n9. Write at Grade 7 readability level \\u2014 clear, direct, no jargon\\n10. Suggest 1 contextually relevant image placement (mark as [IMAGE: description])\\n\\nFORMAT: Start with a markdown H1 title. Use H2 and H3 subheadings. Write in a bold, opinionated voice that challenges conventional thinking.) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a contrarian, SEO-optimized article on the following topic:\\n\\n\" + $('Prepare Content Base').first().json.contentBase) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "a1b2c3d4-1001-4000-8001-000000000013", "name": "Generate Draft 1 \u2014 Contrarian Angle", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2208, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const response = $input.first().json;\nlet content = '';\n\ntry {\n  if (response.choices && response.choices[0]) {\n    content = response.choices[0].message.content;\n  }\n} catch(e) {\n  content = '';\n}\n\nif (!content || content.trim().length === 0) {\n  return [{json: {error: true, message: 'AI returned empty draft'}}];\n}\n\n// Strip meta-commentary\ncontent = content.replace(/^(Here's|Here is|Below is|I've written|Sure,).*?\\n+/i, '');\ncontent = content.trim();\n\nconst wordCount = content.split(/\\s+/).length;\nif (wordCount < 300) {\n  return [{json: {error: true, message: `Draft too short: ${wordCount} words (minimum 300)`}}];\n}\n\n// Extract title (first line that starts with # or is the first non-empty line)\nlet title = '';\nconst lines = content.split('\\n');\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (trimmed) {\n    title = trimmed.replace(/^#+\\s*/, '');\n    break;\n  }\n}\n\nreturn [{json: {\n  draftContent: content,\n  draftTitle: title,\n  wordCount,\n  validated: true\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000014", "name": "Validate Draft 1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2432, 112]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify(\"You are an expert content writer for a marketing agency called Fetemi. Write an SEO-optimized article taking a PRACTICAL HOW-TO angle on the topic provided.\\n\\nIMPORTANT: A previous draft took a contrarian angle with the title: \" + $('Validate Draft 1').first().json.draftTitle + \". Your approach must be distinctly different \\u2014 focus on actionable steps and practical advice.\\n\\nSEO RULES (follow ALL strictly):\\n\\nKEYWORD INTEGRATION:\\n1. Extract primary keywords from the content idea\\n2. Integrate primary keyword into the H1 title AND within the first 100 words\\n3. Analyze the topic to identify long-tail keywords and short-tail keywords\\n4. Integrate these keywords naturally into body text and H2/H3 headers\\n\\nSTRUCTURE OPTIMIZATION:\\n5. Use strict heading hierarchy: One H1 title \\u2192 H2 section headers \\u2192 H3 subheaders\\n6. Aim for 700-800 words per main section (total article should be 2000-2500 words)\\n7. Keep paragraphs short: 2-3 sentences max\\n\\nCONTENT ENRICHMENT:\\n8. Include 2-3 relevant internal or external link suggestions (mark as [LINK: url or description])\\n9. Write at Grade 7 readability level \\u2014 clear, direct, no jargon\\n10. Suggest 1 contextually relevant image placement (mark as [IMAGE: description])\\n\\nFORMAT: Start with a markdown H1 title. Use numbered steps, bullet points, and H2/H3 subheadings. Write in a friendly, instructional voice.) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a practical how-to, SEO-optimized article on the following topic:\\n\\n\" + $('Prepare Content Base').first().json.contentBase) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "a1b2c3d4-1001-4000-8001-000000000015", "name": "Generate Draft 2 \u2014 Practical How-To", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2640, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const response = $input.first().json;\nlet content = '';\n\ntry {\n  if (response.choices && response.choices[0]) {\n    content = response.choices[0].message.content;\n  }\n} catch(e) {\n  content = '';\n}\n\nif (!content || content.trim().length === 0) {\n  return [{json: {error: true, message: 'AI returned empty draft'}}];\n}\n\n// Strip meta-commentary\ncontent = content.replace(/^(Here's|Here is|Below is|I've written|Sure,).*?\\n+/i, '');\ncontent = content.trim();\n\nconst wordCount = content.split(/\\s+/).length;\nif (wordCount < 300) {\n  return [{json: {error: true, message: `Draft too short: ${wordCount} words (minimum 300)`}}];\n}\n\n// Extract title (first line that starts with # or is the first non-empty line)\nlet title = '';\nconst lines = content.split('\\n');\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (trimmed) {\n    title = trimmed.replace(/^#+\\s*/, '');\n    break;\n  }\n}\n\nreturn [{json: {\n  draftContent: content,\n  draftTitle: title,\n  wordCount,\n  validated: true\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000016", "name": "Validate Draft 2", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2864, 112]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify(\"You are an expert content writer for a marketing agency called Fetemi. Write an SEO-optimized article taking a DATA & TRENDS angle on the topic provided.\\n\\nIMPORTANT: Previous drafts covered contrarian (title: \" + $('Validate Draft 1').first().json.draftTitle + \") and how-to (title: \" + $('Validate Draft 2').first().json.draftTitle + \") angles. Your approach must use data, statistics, trends, and research-backed insights. Be distinctly different from both previous drafts.\\n\\nSEO RULES (follow ALL strictly):\\n\\nKEYWORD INTEGRATION:\\n1. Extract primary keywords from the content idea\\n2. Integrate primary keyword into the H1 title AND within the first 100 words\\n3. Analyze the topic to identify long-tail keywords and short-tail keywords\\n4. Integrate these keywords naturally into body text and H2/H3 headers\\n\\nSTRUCTURE OPTIMIZATION:\\n5. Use strict heading hierarchy: One H1 title \\u2192 H2 section headers \\u2192 H3 subheaders\\n6. Aim for 700-800 words per main section (total article should be 2000-2500 words)\\n7. Keep paragraphs short: 2-3 sentences max\\n\\nCONTENT ENRICHMENT:\\n8. Include 2-3 relevant internal or external link suggestions (mark as [LINK: url or description])\\n9. Write at Grade 7 readability level \\u2014 clear, direct, no jargon\\n10. Suggest 1 contextually relevant image placement (mark as [IMAGE: description])\\n\\nFORMAT: Start with a markdown H1 title. Cite specific numbers, percentages, and trends. Use H2/H3 subheadings. Write in an authoritative, evidence-based voice.) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a data-driven, trends-focused, SEO-optimized article on the following topic:\\n\\n\" + $('Prepare Content Base').first().json.contentBase) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "a1b2c3d4-1001-4000-8001-000000000017", "name": "Generate Draft 3 \u2014 Data & Trends", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3088, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const response = $input.first().json;\nlet content = '';\n\ntry {\n  if (response.choices && response.choices[0]) {\n    content = response.choices[0].message.content;\n  }\n} catch(e) {\n  content = '';\n}\n\nif (!content || content.trim().length === 0) {\n  return [{json: {error: true, message: 'AI returned empty draft'}}];\n}\n\n// Strip meta-commentary\ncontent = content.replace(/^(Here's|Here is|Below is|I've written|Sure,).*?\\n+/i, '');\ncontent = content.trim();\n\nconst wordCount = content.split(/\\s+/).length;\nif (wordCount < 300) {\n  return [{json: {error: true, message: `Draft too short: ${wordCount} words (minimum 300)`}}];\n}\n\n// Extract title (first line that starts with # or is the first non-empty line)\nlet title = '';\nconst lines = content.split('\\n');\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (trimmed) {\n    title = trimmed.replace(/^#+\\s*/, '');\n    break;\n  }\n}\n\nreturn [{json: {\n  draftContent: content,\n  draftTitle: title,\n  wordCount,\n  validated: true\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000018", "name": "Validate Draft 3", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3312, 112]}, {"parameters": {"jsCode": "const draft1 = $('Validate Draft 1').first().json;\nconst draft2 = $('Validate Draft 2').first().json;\nconst draft3 = $('Validate Draft 3').first().json;\nconst submission = $('Prepare Content Base').first().json;\n\nconst drafts = [\n  {\n    index: 1,\n    angle: 'Contrarian / Challenge Assumptions',\n    title: draft1.draftTitle,\n    content: draft1.draftContent,\n    wordCount: draft1.wordCount\n  },\n  {\n    index: 2,\n    angle: 'Practical How-To Guide',\n    title: draft2.draftTitle,\n    content: draft2.draftContent,\n    wordCount: draft2.wordCount\n  },\n  {\n    index: 3,\n    angle: 'Data, Trends & Research',\n    title: draft3.draftTitle,\n    content: draft3.draftContent,\n    wordCount: draft3.wordCount\n  }\n];\n\nreturn [{json: {\n  submissionId: submission.submissionId,\n  drafts,\n  generatedAt: new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000019", "name": "Package All Drafts", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3520, 112]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{ $json.submissionId }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": \"pending_review\",\n  \"drafts\": {{ JSON.stringify($json.drafts) }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "a1b2c3d4-1001-4000-8001-000000000020", "name": "Update Submission with Drafts", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3744, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const data = $('Package All Drafts').first().json;\nreturn [{json: {\n  statusCode: 200,\n  body: {\n    success: true,\n    submissionId: data.submissionId,\n    status: 'pending_review',\n    drafts: data.drafts.map(d => ({\n      index: d.index,\n      angle: d.angle,\n      title: d.title,\n      preview: d.content.substring(0, 200) + '...',\n      wordCount: d.wordCount\n    })),\n    message: 'Three drafts generated. Please review and select one to proceed.'\n  }\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000021", "name": "S1: Format Success Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3968, 112]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json.body) }}", "options": {"responseCode": 200}}, "id": "a1b2c3d4-1001-4000-8001-000000000022", "name": "Return Drafts to Frontend", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [4192, 112]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-validation-error", "leftValue": "={{ $json.error }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000030", "name": "Validation Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [336, 0]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: false, error: $json.message, statusCode: $json.statusCode || 400 }) }}", "options": {"responseCode": 400}}, "id": "a1b2c3d4-1001-4000-8001-000000000031", "name": "Return Validation Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [560, -144]}, {"parameters": {"httpMethod": "POST", "path": "cf-draft-select", "responseMode": "responseNode", "options": {}}, "id": "b2c3d4e5-2001-4000-9001-000000000001", "name": "Receive Draft Selection", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 800], "webhookId": "390d6f4e-e736-4204-ab2a-fc37228efa37"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst errors = [];\n\nif (!body || typeof body !== 'object') {\n  errors.push('Request body is required');\n}\n\nconst submissionId = body?.submissionId?.toString().trim() || body?.submission_id?.toString().trim() || '';\nconst selectedDraft = parseInt(body?.selectedDraft || body?.selected_draft, 10);\n\nif (!submissionId) {\n  errors.push('submission_id is required');\n}\n\nif (![1, 2, 3].includes(selectedDraft)) {\n  errors.push('selected_draft must be 1, 2, or 3');\n}\n\nif (errors.length > 0) {\n  return [{json: {error: true, statusCode: 400, message: errors.join('; ')}}];\n}\n\nreturn [{json: {\n  error: false,\n  submissionId,\n  selectedDraft,\n  publishImmediately: body?.publishImmediately === true || body?.publish_immediately === true\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000002", "name": "Validate Selection Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 800]}, {"parameters": {"url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{$json.submissionId}}"}, {"name": "select", "value": "*"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000003", "name": "Fetch Submission from Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [448, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const results = $input.first().json;\nconst selectionInput = $('Validate Selection Input').first().json;\n\n// Handle array response from Supabase\nconst submissions = Array.isArray(results) ? results : [results];\n\nif (!submissions || submissions.length === 0 || !submissions[0].id) {\n  return [{json: {error: true, statusCode: 404, message: 'Submission not found'}}];\n}\n\nconst submission = submissions[0];\n\n// Check status\nif (submission.status !== 'pending_review') {\n  return [{json: {error: true, statusCode: 409, message: `Submission is in '${submission.status}' state. Only 'pending_review' submissions can be selected.`}}];\n}\n\n// Check expiry (72 hours)\nconst createdAt = new Date(submission.created_at || submission.createdAt);\nconst now = new Date();\nconst hoursSinceCreation = (now - createdAt) / (1000 * 60 * 60);\n\nif (hoursSinceCreation > 72) {\n  return [{json: {error: true, statusCode: 410, message: 'Submission has expired. Drafts are only valid for 72 hours. Please create a new submission.'}}];\n}\n\nreturn [{json: {\n  error: false,\n  submission,\n  submissionId: selectionInput.submissionId,\n  selectedDraft: selectionInput.selectedDraft,\n  publishImmediately: selectionInput.publishImmediately\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000004", "name": "Validate Submission State", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 800]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{$json.submissionId}}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": \"processing\",\n  \"selected_draft\": {{ $json.selectedDraft }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000005", "name": "Lock Submission", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const state = $('Validate Submission State').first().json;\nconst submission = state.submission;\nconst selectedIndex = state.selectedDraft;\n\nlet drafts = submission.drafts;\nif (typeof drafts === 'string') {\n  try {\n    drafts = JSON.parse(drafts);\n  } catch(e) {\n    return [{json: {error: true, message: 'Could not parse stored drafts'}}];\n  }\n}\n\nif (!Array.isArray(drafts) || drafts.length === 0) {\n  return [{json: {error: true, message: 'No drafts found in submission'}}];\n}\n\nconst selected = drafts.find(d => d.index === selectedIndex);\nif (!selected) {\n  return [{json: {error: true, message: `Draft ${selectedIndex} not found. Available: ${drafts.map(d => d.index).join(', ')}`}}];\n}\n\nreturn [{json: {\n  submissionId: state.submissionId,\n  selectedDraft: selectedIndex,\n  draftTitle: selected.title,\n  draftContent: selected.content,\n  draftAngle: selected.angle,\n  draftWordCount: selected.wordCount,\n  publishImmediately: state.publishImmediately\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000006", "name": "Extract Selected Draft", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1104, 800]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a LinkedIn content expert for Fetemi marketing agency. Adapt the following article into a LinkedIn post.\\n\\nCRITICAL FORMATTING RULES:\\n- Output PLAIN TEXT only. NO markdown. NO asterisks. NO hashtags (#). NO bold (**text**). NO headers (##).\\n- Use the PAS (Problem \u2013 Agitate \u2013 Solution) copywriting technique\\n- Short paragraphs (max 2\u20133 lines) separated by blank lines\\n- Use Unicode symbols for bullets: \u2705 \u2022 \u2192 \u25b8 (NOT markdown dashes or asterisks)\\n- 3\u20135 relevant emojis max, placed naturally\\n- End with a clear question as CTA to drive comments\\n- Keep under 3000 characters total\\n- NO hashtags at the end of the post\\n- NO markdown formatting whatsoever \u2014 LinkedIn does not render markdown\\n\\nEXAMPLE FORMAT:\\nEver wondered why your morning meeting drains your energy?\\n\\nTry this:\\n\u2705 Block mornings for deep work\\n\u2705 Skip email until after coffee\\n\u2705 End your day with next-day planning\\n\\nYour productivity will thank you.\\n\\nWhat's one ritual you swear by? \u2600\ufe0f\\n\\nWrite ONLY the LinkedIn post. No commentary or explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"ARTICLE:\\n\\n\" + $json.draftContent) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "b2c3d4e5-2001-4000-9001-000000000007", "name": "Adapt for LinkedIn", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1328, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const input = $input.first().json;\nlet content = '';\ntry {\n  content = input.choices[0].message.content.trim();\n} catch(e) {\n  return [{json: {error: true, message: 'AI returned empty LinkedIn adaptation'}}];\n}\n\n// Strip ALL markdown \u2014 LinkedIn is plain text only\ncontent = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1');\ncontent = content.replace(/\\*([^*]+)\\*/g, '$1');\ncontent = content.replace(/__([^_]+)__/g, '$1');\ncontent = content.replace(/_([^_]+)_/g, '$1');\ncontent = content.replace(/^#{1,6}\\s+/gm, '');\ncontent = content.replace(/^[-*]\\s+/gm, '\\u2022 ');\ncontent = content.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1');\ncontent = content.replace(/\\n*(?:#\\w+\\s*)+$/g, '');\n\nif (content.length > 3000) {\n  content = content.substring(0, 2997) + '...';\n}\n\nconst hasCTA = /\\?|comment|share|follow|what do you think|thoughts/i.test(content);\n\nreturn [{json: {\n  linkedinContent: content,\n  charCount: content.length,\n  hasCTA,\n  truncated: content.length >= 3000\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000008", "name": "Validate LinkedIn Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1552, 800]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Twitter/X content expert for Fetemi marketing agency. Adapt the following article into a single tweet.\\n\\nFORMATTING RULES (follow exactly):\\n- Lead with the main benefit or insight\\n- One core idea per tweet\\n- Optional line breaks for readability\\n- Max 1\\u20132 hashtags, keep them relevant\\n- Tag only if it adds value\\n- MUST be under 280 characters total (this is CRITICAL \\u2014 count carefully)\\n\\nEXAMPLE FORMAT:\\nBoost your focus in under 5 minutes.\\n\\nDo a \\\"brain dump\\\": write down everything on your mind, then circle your top 3 tasks.\\n\\nFeels like clearing browser tabs in your head. \\ud83d\\udd04\\n\\n#ProductivityTips\\n\\nWrite ONLY the tweet text. No commentary or explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"ARTICLE:\\n\\n\" + $('Extract Selected Draft').first().json.draftContent) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "b2c3d4e5-2001-4000-9001-000000000009", "name": "Adapt for X Twitter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1760, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const input = $input.first().json;\nlet content = '';\ntry {\n  content = input.choices[0].message.content.trim();\n} catch(e) {\n  content = '';\n}\n\nif (!content) {\n  return [{json: {error: true, message: 'AI returned empty X/Twitter adaptation'}}];\n}\n\nif (content.length <= 280) {\n  return [{json: {twitterContent: content, charCount: content.length, truncated: false}}];\n}\n\n// Try to truncate at last sentence boundary under 280\nconst sentences = content.match(/[^.!?]+[.!?]+/g) || [content];\nlet truncated = '';\nfor (const sentence of sentences) {\n  if ((truncated + sentence).length <= 280) {\n    truncated += sentence;\n  } else {\n    break;\n  }\n}\n\nif (truncated.length > 0 && truncated.length <= 280) {\n  return [{json: {twitterContent: truncated.trim(), charCount: truncated.trim().length, truncated: true}}];\n}\n\n// Fallback: hard cut at 277 + ...\nconst hardCut = content.substring(0, 277) + '...';\nreturn [{json: {twitterContent: hardCut, charCount: 280, truncated: true}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000010", "name": "Enforce X Character Limit", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1984, 800]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email marketing expert for Fetemi marketing agency. Adapt the following article into an email newsletter.\\n\\nCRITICAL: Output clean HTML for email. NOT markdown.\\n\\nFORMATTING RULES (follow exactly):\\n- Start with the subject line on its own line: SUBJECT: Your Subject Here\\n- Then write the email body in clean, simple HTML\\n- Use <h2> for section headers (NOT <h1>, NOT markdown ##)\\n- Use <p> tags for paragraphs\\n- Use <ul><li> for bullet lists\\n- Use <strong> for bold, <em> for italic\\n- Use <a href=\\\"url\\\"> for links\\n- DO NOT use markdown syntax (no **, no ##, no - bullets)\\n- Short, engaging intro (1\u20133 sentences)\\n- Main value section with subheadings and bullets for skimmability\\n- Clear call-to-action\\n- Friendly sign-off\\n- Tone: like writing to a smart friend who is busy but trusts you\\n- Total length: 250\u2013600 words\\n\\nWrite SUBJECT: line first, then the HTML email body. No commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"ARTICLE:\\n\\n\" + $('Extract Selected Draft').first().json.draftContent) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "b2c3d4e5-2001-4000-9001-000000000011", "name": "Adapt for Email Newsletter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2208, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const input = $input.first().json;\nlet content = '';\ntry {\n  content = input.choices[0].message.content.trim();\n} catch(e) {\n  return [{json: {error: true, message: 'AI returned empty newsletter adaptation'}}];\n}\n\nlet subject = 'New from Fetemi';\nconst subjectMatch = content.match(/^SUBJECT:\\s*(.+)$/mi);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n  content = content.replace(/^SUBJECT:\\s*.+$/mi, '').trim();\n}\n\n// Strip any HTML/body wrapper tags the AI added\ncontent = content.replace(/<\\/?html[^>]*>/gi, '');\ncontent = content.replace(/<\\/?body[^>]*>/gi, '');\ncontent = content.replace(/<\\/?head[^>]*>/gi, '');\ncontent = content.replace(/<\\/?doctype[^>]*>/gi, '');\n\n// If AI output HTML, use it directly. If markdown, convert.\nconst hasHTML = /<(?:p|h[1-6]|ul|ol|div|strong|em|a\\s)[^>]*>/i.test(content);\n\nif (!hasHTML) {\n  // Convert markdown to HTML\n  content = content\n    .replace(/### (.+)/g, '<h3>$1</h3>')\n    .replace(/## (.+)/g, '<h2>$1</h2>')\n    .replace(/# (.+)/g, '<h2>$1</h2>')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*([^*]+)\\*/g, '<em>$1</em>')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<a href=\"$2\">$1</a>');\n\n  // Convert bullet lists\n  const lines = content.split('\\n');\n  let result = [];\n  let inList = false;\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (/^[-*]\\s+/.test(trimmed)) {\n      if (!inList) { result.push('<ul>'); inList = true; }\n      result.push('<li>' + trimmed.replace(/^[-*]\\s+/, '') + '</li>');\n    } else {\n      if (inList) { result.push('</ul>'); inList = false; }\n      if (!trimmed) continue;\n      if (trimmed.startsWith('<')) {\n        result.push(trimmed);\n      } else {\n        result.push('<p>' + trimmed + '</p>');\n      }\n    }\n  }\n  if (inList) result.push('</ul>');\n  content = result.join('\\n');\n}\n\n// Clean up any double-wrapped paragraphs\ncontent = content.replace(/<p>\\s*<p>/g, '<p>');\ncontent = content.replace(/<\\/p>\\s*<\\/p>/g, '</p>');\n\nconst htmlContent = '<div style=\"font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6;font-size:16px;\">' +\n  content +\n  '<hr style=\"border:none;border-top:1px solid #eee;margin:24px 0;\">' +\n  '<p style=\"color:#888;font-size:13px;\">Sent by Fetemi Marketing</p></div>';\n\nconst wordCount = content.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().split(' ').length;\n\nreturn [{json: {\n  newsletterSubject: subject,\n  newsletterContent: htmlContent,\n  newsletterWordCount: wordCount,\n  withinRange: wordCount >= 200 && wordCount <= 700\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000012", "name": "Validate Newsletter Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2432, 800]}, {"parameters": {"jsCode": "const linkedin = $('Validate LinkedIn Content').first().json;\nconst twitter = $('Enforce X Character Limit').first().json;\nconst newsletter = $('Validate Newsletter Content').first().json;\nconst draft = $('Extract Selected Draft').first().json;\n\nconst idempotencyKey = draft.submissionId + '_' + draft.selectedDraft + '_' + Date.now().toString(36);\n\nreturn [{json: {\n  submissionId: draft.submissionId,\n  selectedDraft: draft.selectedDraft,\n  draftTitle: draft.draftTitle,\n  draftAngle: draft.draftAngle,\n  publishImmediately: draft.publishImmediately,\n  idempotencyKey,\n  adaptations: {\n    linkedin: {\n      content: linkedin.linkedinContent,\n      charCount: linkedin.charCount,\n      hasCTA: linkedin.hasCTA\n    },\n    twitter: {\n      content: twitter.twitterContent,\n      charCount: twitter.charCount,\n      truncated: twitter.truncated\n    },\n    newsletter: {\n      subject: newsletter.newsletterSubject,\n      content: newsletter.newsletterContent,\n      wordCount: newsletter.newsletterWordCount || 0\n    }\n  },\n  adaptedAt: new Date().toISOString()\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000013", "name": "Combine Adapted Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2640, 800]}, {"parameters": {"method": "POST", "url": "=https://your-project.supabase.co/rest/v1/adapted_content", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"submission_id\": \"{{ $json.submissionId }}\",\n  \"linkedin_content\": {{ JSON.stringify($json.adaptations.linkedin.content) }},\n  \"twitter_content\": {{ JSON.stringify($json.adaptations.twitter.content) }},\n  \"twitter_char_count\": {{ $json.adaptations.twitter.charCount }},\n  \"newsletter_subject\": {{ JSON.stringify($json.adaptations.newsletter.subject) }},\n  \"newsletter_content\": {{ JSON.stringify($json.adaptations.newsletter.content) }},\n  \"newsletter_word_count\": {{ $json.adaptations.newsletter.wordCount }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000014", "name": "Save Adapted Content to Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2864, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-publish-check", "leftValue": "={{ $('Combine Adapted Content').first().json.publishImmediately }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "b2c3d4e5-2001-4000-9001-000000000015", "name": "Publish Immediately?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3088, 800]}, {"parameters": {"method": "POST", "url": "https://api.linkedin.com/rest/posts", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('S2: Prepare Publish Tokens').first().json.linkedinAccessToken }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Restli-Protocol-Version", "value": "2.0.0"}, {"name": "LinkedIn-Version", "value": "202503"}, {"name": "X-Idempotency-Key", "value": "={{ $('S2: Prepare Publish Tokens').first().json.idempotencyKey }}_linkedin"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $('S2: Prepare Publish Tokens').first().json.linkedinUserId }}\",\n  \"commentary\": {{ JSON.stringify($('S2: Prepare Publish Tokens').first().json.adaptations.linkedin.content) }},\n  \"visibility\": \"PUBLIC\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  },\n  \"lifecycleState\": \"PUBLISHED\",\n  \"isReshareDisabledByAuthor\": false\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "b2c3d4e5-2001-4000-9001-000000000016", "name": "S2: Publish to LinkedIn", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3312, 656], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"method": "POST", "url": "={{$env.TWITTER_API_URL || 'https://api.twitter.com/2/tweets'}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.TWITTER_BEARER_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Idempotency-Key", "value": "={{ $('Combine Adapted Content').first().json.idempotencyKey }}_twitter"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"text\": {{ JSON.stringify($('Combine Adapted Content').first().json.adaptations.twitter.content) }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "b2c3d4e5-2001-4000-9001-000000000017", "name": "Publish to X", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3312, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"method": "POST", "url": "https://api.resend.com/emails", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('S2: Prepare Publish Tokens').first().json.newsletterApiKey }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"from\": {{ JSON.stringify($('S2: Prepare Publish Tokens').first().json.newsletterFromName + ' <' + $('S2: Prepare Publish Tokens').first().json.newsletterFrom + '>') }},\n  \"to\": [\"daraayodaniel@gmail.com\"],\n  \"subject\": {{ JSON.stringify($('Combine Adapted Content').first().json.adaptations.newsletter.subject || 'New from Fetemi') }},\n  \"html\": {{ JSON.stringify($('Combine Adapted Content').first().json.adaptations.newsletter.content || '') }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "b2c3d4e5-2001-4000-9001-000000000018", "name": "Send Newsletter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3312, 960], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"jsCode": "const adapted = $('Combine Adapted Content').first().json;\n\nconst linkedinResult = $('S2: Publish to LinkedIn').first().json;\nconst twitterResult = $('Publish to X').first().json;\nconst newsletterResult = $('Send Newsletter').first().json;\n\nreturn [{json: {\n  submissionId: adapted.submissionId,\n  status: 'published',\n  publishedAt: new Date().toISOString(),\n  results: {\n    linkedin: {\n      published: true,\n      charCount: adapted.adaptations.linkedin.charCount,\n      response: linkedinResult\n    },\n    twitter: {\n      published: true,\n      charCount: adapted.adaptations.twitter.charCount,\n      response: twitterResult\n    },\n    newsletter: {\n      sent: true,\n      subject: adapted.adaptations.newsletter.subject,\n      wordCount: adapted.adaptations.newsletter.wordCount,\n      response: newsletterResult\n    }\n  },\n  message: 'Content published to all platforms successfully.'\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000019", "name": "Prepare Published Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3520, 800]}, {"parameters": {"jsCode": "const adapted = $('Combine Adapted Content').first().json;\n\nreturn [{json: {\n  submissionId: adapted.submissionId,\n  status: 'scheduled',\n  adaptedAt: adapted.adaptedAt,\n  adaptations: {\n    linkedin: {\n      preview: adapted.adaptations.linkedin.content.substring(0, 200) + '...',\n      charCount: adapted.adaptations.linkedin.charCount\n    },\n    twitter: {\n      preview: adapted.adaptations.twitter.content,\n      charCount: adapted.adaptations.twitter.charCount\n    },\n    newsletter: {\n      subject: adapted.adaptations.newsletter.subject,\n      preview: adapted.adaptations.newsletter.content.substring(0, 200) + '...',\n      wordCount: adapted.adaptations.newsletter.wordCount\n    }\n  },\n  message: 'Content adapted for all platforms and saved. Ready for manual publishing or scheduling.'\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000020", "name": "Prepare Scheduled Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3520, 1056]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{$json.submissionId}}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": \"{{ $json.status }}\"\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000021", "name": "S2: Update Submission Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3744, 912], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, submissionId: $('S2: Update Submission Status').first().json.submission_id || $json.submissionId, status: $json.status, adaptations: $json.adaptations || $json.results, message: $json.message }) }}", "options": {"responseCode": 200}}, "id": "b2c3d4e5-2001-4000-9001-000000000022", "name": "Return Final Result", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [3968, 912]}, {"parameters": {"httpMethod": "POST", "path": "cf-publish-content", "responseMode": "responseNode", "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000001", "name": "Receive Publish Request", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 1600], "webhookId": "9cb5e14a-a1d7-4c01-a45b-072f8cdeaa5b"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst errors = [];\n\nif (!body || typeof body !== 'object') {\n  errors.push('Request body is required');\n}\n\nconst submissionId = (body?.submission_id || body?.submissionId || '').toString().trim();\nlet platforms = body?.platforms || ['linkedin', 'twitter', 'newsletter'];\n\nif (!submissionId) {\n  errors.push('submission_id is required');\n}\n\nif (!Array.isArray(platforms)) {\n  platforms = [platforms];\n}\n\nconst validPlatforms = ['linkedin', 'twitter', 'newsletter'];\nconst invalidPlatforms = platforms.filter(p => !validPlatforms.includes(p));\nif (invalidPlatforms.length > 0) {\n  errors.push('Invalid platforms: ' + invalidPlatforms.join(', ') + '. Valid: linkedin, twitter, newsletter');\n}\n\nif (errors.length > 0) {\n  return [{ json: { error: true, statusCode: 400, message: errors.join('; ') } }];\n}\n\nconst idempotencyBase = submissionId + '_pub_' + Date.now().toString(36);\n\nreturn [{ json: {\n  error: false,\n  submissionId,\n  platforms,\n  idempotencyBase\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000002", "name": "Validate Publish Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 1600]}, {"parameters": {"url": "https://your-project.supabase.co/rest/v1/adapted_content", "sendQuery": true, "queryParameters": {"parameters": [{"name": "submission_id", "value": "=eq.{{ $json.submissionId }}"}, {"name": "select", "value": "*"}, {"name": "order", "value": "created_at.desc"}, {"name": "limit", "value": "1"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000003", "name": "Fetch Adapted Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [448, 1600], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"url": "https://your-project.supabase.co/rest/v1/platform_connections", "sendQuery": true, "queryParameters": {"parameters": [{"name": "status", "value": "eq.active"}, {"name": "select", "value": "platform,access_token,refresh_token,api_key,config,platform_user_id,platform_username,token_expires_at"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000004", "name": "Fetch Platform Connections", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [672, 1600], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const adaptedRaw = $('Fetch Adapted Content').first().json;\nconst connectionsRaw = $('Fetch Platform Connections').all().map(i => i.json);\nconst publishInput = $('Validate Publish Input').first().json;\n\n// Parse adapted content - Supabase returns array\nconst adaptedArr = Array.isArray(adaptedRaw) ? adaptedRaw : [adaptedRaw];\nconst adapted = adaptedArr[0] || adaptedRaw;\n\n// Parse connections - flatten if nested arrays\nlet connections = [];\nfor (const item of connectionsRaw) {\n  if (Array.isArray(item)) {\n    connections.push(...item);\n  } else {\n    connections.push(item);\n  }\n}\n\nconst connectionMap = {};\nfor (const conn of connections) {\n  if (conn && conn.platform) {\n    connectionMap[conn.platform] = conn;\n  }\n}\n\nconst requestedPlatforms = publishInput.platforms || ['twitter', 'newsletter'];\nconst readyPlatforms = [];\nconst missingPlatforms = [];\n\nfor (const p of requestedPlatforms) {\n  const conn = connectionMap[p];\n  if (p === 'newsletter' && conn && (conn.api_key || conn.access_token)) {\n    readyPlatforms.push('newsletter');\n  } else if (conn && conn.access_token) {\n    const expiresAt = conn.token_expires_at ? new Date(conn.token_expires_at) : null;\n    if (expiresAt && expiresAt < new Date()) {\n      missingPlatforms.push(p + ' (token expired)');\n    } else {\n      readyPlatforms.push(p);\n    }\n  } else {\n    missingPlatforms.push(p + ' (not connected or missing token)');\n  }\n}\n\n// Get newsletter config\nconst nlConn = connectionMap.newsletter || {};\nconst nlConfig = nlConn.config || {};\n\nreturn [{ json: {\n  submissionId: publishInput.submissionId,\n  idempotencyBase: publishInput.idempotencyBase || publishInput.submissionId + '_' + Date.now(),\n  adapted: {\n    linkedinContent: adapted.linkedin_content || '',\n    twitterContent: adapted.twitter_content || '',\n    newsletterSubject: adapted.newsletter_subject || '',\n    newsletterContent: adapted.newsletter_content || ''\n  },\n  connections: connectionMap,\n  newsletterApiKey: nlConn.api_key || '',\n  newsletterFromEmail: nlConfig.sender_email || 'content@fetemi.com',\n  newsletterFromName: nlConfig.sender_name || 'Fetemi Marketing',\n  twitterAccessToken: connectionMap.twitter ? connectionMap.twitter.access_token : '',\n  twitterConfig: connectionMap.twitter ? (connectionMap.twitter.config || {}) : {},\n  linkedinAccessToken: connectionMap.linkedin ? connectionMap.linkedin.access_token : '',\n  linkedinUserId: connectionMap.linkedin ? connectionMap.linkedin.platform_user_id : '',\n  readyPlatforms,\n  missingPlatforms,\n  publishLinkedin: readyPlatforms.includes('linkedin'),\n  publishTwitter: readyPlatforms.includes('twitter'),\n  publishNewsletter: readyPlatforms.includes('newsletter')\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000005", "name": "Prepare Publishing Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 1600]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-linkedin-ready", "leftValue": "={{ $json.publishLinkedin }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000006", "name": "Should Publish LinkedIn?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 1408]}, {"parameters": {"method": "POST", "url": "https://api.linkedin.com/rest/posts", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('Prepare Publishing Data').first().json.connections.linkedin.access_token }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Restli-Protocol-Version", "value": "2.0.0"}, {"name": "LinkedIn-Version", "value": "202503"}, {"name": "X-Idempotency-Key", "value": "={{ $('Prepare Publishing Data').first().json.idempotencyBase }}_linkedin"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $('Prepare Publishing Data').first().json.connections.linkedin.platform_user_id }}\",\n  \"commentary\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.linkedinContent) }},\n  \"visibility\": \"PUBLIC\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  },\n  \"lifecycleState\": \"PUBLISHED\",\n  \"isReshareDisabledByAuthor\": false\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "d4e5f6a7-4001-4000-9001-000000000007", "name": "S3: Publish to LinkedIn", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1344, 1312], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"parameters": {"jsCode": "const response = $input.first().json;\nconst isError = !!response.error || !!response.errorMessage || (response.status && response.status >= 400);\n\nif (isError) {\n  return [{ json: {\n    platform: 'linkedin',\n    success: false,\n    error: response.message || response.errorMessage || response.error || JSON.stringify(response)\n  } }];\n}\n\n// /rest/posts returns 201 with empty body, post ID is in x-restli-id header\nreturn [{ json: {\n  platform: 'linkedin',\n  success: true,\n  postId: response.id || response['x-restli-id'] || response['X-RestLi-Id'] || null,\n  response: response\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000008", "name": "Handle LinkedIn Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 1312]}, {"parameters": {"jsCode": "// LinkedIn was skipped\nreturn [{ json: {\n  platform: 'linkedin',\n  success: false,\n  error: 'LinkedIn not connected or token expired \u2014 skipped'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000009", "name": "LinkedIn Skipped", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 1504]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-twitter-ready", "leftValue": "={{ $('Prepare Publishing Data').first().json.publishTwitter }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000010", "name": "Should Publish Twitter?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 1712]}, {"parameters": {"method": "POST", "url": "https://api.twitter.com/2/tweets", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{ $json.twitterAuthHeader }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Idempotency-Key", "value": "={{ $('Prepare Publishing Data').first().json.idempotencyBase }}_twitter"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"text\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.twitterContent) }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "d4e5f6a7-4001-4000-9001-000000000011", "name": "Publish to Twitter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1440, 1600], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"parameters": {"jsCode": "const response = $input.first().json;\nconst isError = !!response.error || !!response.errors || !!response.errorMessage || (response.status && response.status >= 400);\n\nif (isError) {\n  const errMsg = response.detail || response.message || response.errorMessage || (response.errors && response.errors[0]?.message) || JSON.stringify(response);\n  return [{ json: {\n    platform: 'twitter',\n    success: false,\n    error: errMsg\n  } }];\n}\n\nreturn [{ json: {\n  platform: 'twitter',\n  success: true,\n  tweetId: response.data?.id || response.id || null,\n  tweetText: response.data?.text || null,\n  response: response\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000012", "name": "Handle Twitter Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1664, 1600]}, {"parameters": {"jsCode": "// Twitter was skipped\nreturn [{ json: {\n  platform: 'twitter',\n  success: false,\n  error: 'Twitter not connected or token expired \u2014 skipped'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000013", "name": "Twitter Skipped", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 1808]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-newsletter-ready", "leftValue": "={{ $('Prepare Publishing Data').first().json.publishNewsletter }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000014", "name": "Should Send Newsletter?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 2000]}, {"parameters": {"method": "POST", "url": "https://api.resend.com/emails", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('Prepare Publishing Data').first().json.newsletterApiKey }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Idempotency-Key", "value": "={{ $('Prepare Publishing Data').first().json.idempotencyBase }}_newsletter"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"from\": \"Fetemi Marketing <onboarding@resend.dev>\",\n  \"to\": [{{ JSON.stringify($('Prepare Publishing Data').first().json.newsletterFromEmail) }}],\n  \"subject\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.newsletterSubject) }},\n  \"html\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.newsletterContent) }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "d4e5f6a7-4001-4000-9001-000000000015", "name": "Send Newsletter via Resend", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1344, 1904], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"parameters": {"jsCode": "const response = $input.first().json;\nconst isError = !!response.error || !!response.statusCode && response.statusCode >= 400;\n\nif (isError) {\n  return [{ json: {\n    platform: 'newsletter',\n    success: false,\n    error: response.message || response.error || JSON.stringify(response)\n  } }];\n}\n\nreturn [{ json: {\n  platform: 'newsletter',\n  success: true,\n  emailId: response.id || null,\n  response: response\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000016", "name": "Handle Newsletter Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 1904]}, {"parameters": {"jsCode": "// Newsletter was skipped\nreturn [{ json: {\n  platform: 'newsletter',\n  success: false,\n  error: 'Newsletter not configured \u2014 skipped'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000017", "name": "Newsletter Skipped", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 2112]}, {"parameters": {"jsCode": "const publishData = $('Prepare Publishing Data').first().json;\n\n// Collect results from all paths\nconst results = [];\nconst platformsPublished = [];\nconst errors = [];\n\n// Helper to safely get a result from a node\nfunction getResult(nodeName) {\n  try {\n    return $(nodeName).first().json;\n  } catch(e) {\n    return null;\n  }\n}\n\n// LinkedIn result\nconst linkedinResult = getResult('Handle LinkedIn Result') || getResult('LinkedIn Skipped');\nif (linkedinResult) {\n  results.push(linkedinResult);\n  if (linkedinResult.success) platformsPublished.push('linkedin');\n  else if (linkedinResult.error) errors.push({ platform: 'linkedin', error: linkedinResult.error });\n}\n\n// Twitter result\nconst twitterResult = getResult('Handle Twitter Result') || getResult('Twitter Skipped');\nif (twitterResult) {\n  results.push(twitterResult);\n  if (twitterResult.success) platformsPublished.push('twitter');\n  else if (twitterResult.error) errors.push({ platform: 'twitter', error: twitterResult.error });\n}\n\n// Newsletter result\nconst newsletterResult = getResult('Handle Newsletter Result') || getResult('Newsletter Skipped');\nif (newsletterResult) {\n  results.push(newsletterResult);\n  if (newsletterResult.success) platformsPublished.push('newsletter');\n  else if (newsletterResult.error) errors.push({ platform: 'newsletter', error: newsletterResult.error });\n}\n\nconst overallSuccess = platformsPublished.length > 0;\nconst status = overallSuccess ? 'published' : 'publish_failed';\n\nreturn [{ json: {\n  submissionId: publishData.submissionId,\n  success: overallSuccess,\n  status,\n  platformsPublished,\n  errors,\n  results,\n  publishedAt: overallSuccess ? new Date().toISOString() : null\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000018", "name": "Aggregate Publishing Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1808, 1712]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{ $json.submissionId }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": {{ JSON.stringify($json.status) }},\n  \"updated_at\": {{ JSON.stringify(new Date().toISOString()) }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000019", "name": "S3: Update Submission Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2032, 1712], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/adapted_content", "sendQuery": true, "queryParameters": {"parameters": [{"name": "submission_id", "value": "=eq.{{ $('Prepare Publishing Data').first().json.submissionId }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"published_at\": {{ JSON.stringify($('Aggregate Publishing Results').first().json.publishedAt) }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000020", "name": "Update Adapted Content Published At", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2240, 1712], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const results = $('Aggregate Publishing Results').first().json;\n\nreturn [{ json: {\n  success: results.success,\n  submission_id: results.submissionId,\n  status: results.status,\n  platforms_published: results.platformsPublished,\n  errors: results.errors,\n  published_at: results.publishedAt,\n  message: results.success\n    ? 'Content published to: ' + results.platformsPublished.join(', ')\n    : 'Publishing failed for all platforms. See errors for details.'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000021", "name": "Format Final Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2464, 1712]}, {"parameters": {"jsCode": "// Pure JavaScript HMAC-SHA1 for OAuth 1.0a (no crypto module needed)\nfunction sha1Bytes(bytes) {\n  function rotl(n, s) { return (n << s) | (n >>> (32 - s)); }\n  var i, W = new Array(80);\n  var H0 = 0x67452301, H1 = 0xEFCDAB89, H2 = 0x98BADCFE, H3 = 0x10325476, H4 = 0xC3D2E1F0;\n  var A, B, C, D, E, temp;\n  var msgBytes = bytes.slice();\n  var msgLen = msgBytes.length;\n  msgBytes.push(0x80);\n  while (msgBytes.length % 64 !== 56) { msgBytes.push(0); }\n  var bitLen = msgLen * 8;\n  msgBytes.push(0, 0, 0, 0);\n  msgBytes.push((bitLen >>> 24) & 0xff, (bitLen >>> 16) & 0xff, (bitLen >>> 8) & 0xff, bitLen & 0xff);\n  for (var blockstart = 0; blockstart < msgBytes.length; blockstart += 64) {\n    for (i = 0; i < 16; i++) {\n      W[i] = (msgBytes[blockstart + i * 4] << 24) | (msgBytes[blockstart + i * 4 + 1] << 16) | (msgBytes[blockstart + i * 4 + 2] << 8) | msgBytes[blockstart + i * 4 + 3];\n    }\n    for (i = 16; i < 80; i++) { W[i] = rotl(W[i - 3] ^ W[i - 8] ^ W[i - 14] ^ W[i - 16], 1); }\n    A = H0; B = H1; C = H2; D = H3; E = H4;\n    for (i = 0; i < 80; i++) {\n      if (i < 20) { temp = (rotl(A, 5) + ((B & C) | (~B & D)) + E + W[i] + 0x5A827999) & 0xffffffff; }\n      else if (i < 40) { temp = (rotl(A, 5) + (B ^ C ^ D) + E + W[i] + 0x6ED9EBA1) & 0xffffffff; }\n      else if (i < 60) { temp = (rotl(A, 5) + ((B & C) | (B & D) | (C & D)) + E + W[i] + 0x8F1BBCDC) & 0xffffffff; }\n      else { temp = (rotl(A, 5) + (B ^ C ^ D) + E + W[i] + 0xCA62C1D6) & 0xffffffff; }\n      E = D; D = C; C = rotl(B, 30); B = A; A = temp;\n    }\n    H0 = (H0 + A) & 0xffffffff; H1 = (H1 + B) & 0xffffffff;\n    H2 = (H2 + C) & 0xffffffff; H3 = (H3 + D) & 0xffffffff; H4 = (H4 + E) & 0xffffffff;\n  }\n  var result = [];\n  [H0, H1, H2, H3, H4].forEach(function(h) {\n    result.push((h >>> 24) & 0xff, (h >>> 16) & 0xff, (h >>> 8) & 0xff, h & 0xff);\n  });\n  return result;\n}\n\nfunction strToBytes(str) {\n  var bytes = [];\n  for (var i = 0; i < str.length; i++) { bytes.push(str.charCodeAt(i) & 0xff); }\n  return bytes;\n}\n\nfunction bytesToBase64(bytes) {\n  var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  var result = '';\n  for (var i = 0; i < bytes.length; i += 3) {\n    var b1 = bytes[i], b2 = bytes[i + 1] || 0, b3 = bytes[i + 2] || 0;\n    var triplet = (b1 << 16) | (b2 << 8) | b3;\n    result += chars[(triplet >>> 18) & 0x3f];\n    result += chars[(triplet >>> 12) & 0x3f];\n    result += (i + 1 < bytes.length) ? chars[(triplet >>> 6) & 0x3f] : '=';\n    result += (i + 2 < bytes.length) ? chars[triplet & 0x3f] : '=';\n  }\n  return result;\n}\n\nfunction hmacSha1(key, message) {\n  var keyBytes = strToBytes(key);\n  var msgBytes = strToBytes(message);\n  if (keyBytes.length > 64) { keyBytes = sha1Bytes(keyBytes); }\n  while (keyBytes.length < 64) { keyBytes.push(0); }\n  var oKeyPad = keyBytes.map(function(b) { return b ^ 0x5c; });\n  var iKeyPad = keyBytes.map(function(b) { return b ^ 0x36; });\n  var innerHash = sha1Bytes(iKeyPad.concat(msgBytes));\n  return bytesToBase64(sha1Bytes(oKeyPad.concat(innerHash)));\n}\n\nfunction generateNonce() {\n  var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n  var nonce = '';\n  for (var i = 0; i < 32; i++) { nonce += chars.charAt(Math.floor(Math.random() * chars.length)); }\n  return nonce;\n}\n\n// Get credentials from Prepare Publishing Data\nconst data = $('Prepare Publishing Data').first().json;\nconst config = data.twitterConfig;\nconst consumerKey = config.consumer_key;\nconst consumerSecret = config.consumer_secret;\nconst accessToken = data.twitterAccessToken;\nconst accessTokenSecret = config.access_token_secret;\n\nconst method = 'POST';\nconst url = 'https://api.twitter.com/2/tweets';\nconst tweetText = data.adapted.twitterContent;\n\n// Generate OAuth parameters\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst nonce = generateNonce();\n\nconst oauthParams = {\n  oauth_consumer_key: consumerKey,\n  oauth_nonce: nonce,\n  oauth_signature_method: 'HMAC-SHA1',\n  oauth_timestamp: timestamp,\n  oauth_token: accessToken,\n  oauth_version: '1.0'\n};\n\n// Create signature base string\nconst paramString = Object.keys(oauthParams)\n  .sort()\n  .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(oauthParams[key]))\n  .join('&');\n\nconst signatureBase = method.toUpperCase() + '&' + \n  encodeURIComponent(url) + '&' + \n  encodeURIComponent(paramString);\n\nconst signingKey = encodeURIComponent(consumerSecret) + '&' + encodeURIComponent(accessTokenSecret);\n\nconst signature = hmacSha1(signingKey, signatureBase);\n\n// Build Authorization header\nconst authHeader = 'OAuth ' + Object.keys(oauthParams)\n  .sort()\n  .map(key => encodeURIComponent(key) + '=\"' + encodeURIComponent(oauthParams[key]) + '\"')\n  .concat('oauth_signature=\"' + encodeURIComponent(signature) + '\"')\n  .join(', ');\n\nreturn [{ json: {\n  ...data,\n  twitterAuthHeader: authHeader,\n  tweetBody: JSON.stringify({ text: tweetText })\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000030", "name": "Generate Twitter OAuth1 Header", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1232, 1600]}, {"parameters": {"content": "## SECTION 1: Content Intake & Draft Generation", "height": 80, "width": 400, "color": 4}, "id": "53c17a1e-5113-43ff-a64b-94dd75a174ef", "name": "Section Label - S1", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-304, -96]}, {"parameters": {"content": "## SECTION 2: Draft Selection & Platform Adaptation", "height": 80, "width": 400, "color": 4}, "id": "13e7a14b-f8a8-495e-aa7d-65555fa2802b", "name": "Section Label - S2", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-304, 704]}, {"parameters": {"content": "## SECTION 3: Real Platform Publishing", "height": 80, "width": 400, "color": 4}, "id": "ab27b51e-31e7-48b1-81f9-c72ee5a8f0fe", "name": "Section Label - S3", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-304, 1504]}, {"parameters": {"url": "https://your-project.supabase.co/rest/v1/platform_connections?select=*&status=eq.active", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "s2-fetch-connections", "name": "S2: Fetch Connections", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3088, 512]}, {"parameters": {"jsCode": "const connections = $input.first().json;\nconst connArray = Array.isArray(connections) ? connections : [connections];\nconst connMap = {};\nfor (const c of connArray) {\n  if (c && c.platform) connMap[c.platform] = c;\n}\n\nconst adapted = $('Combine Adapted Content').first().json;\n\nconst linkedin = connMap.linkedin || {};\nconst newsletter = connMap.newsletter || {};\nconst nlConfig = newsletter.config || {};\n\nreturn [{ json: {\n  linkedinAccessToken: linkedin.access_token || '',\n  linkedinUserId: linkedin.platform_user_id || '',\n  publishLinkedin: !!(linkedin.access_token),\n  newsletterApiKey: newsletter.api_key || '',\n  newsletterFrom: nlConfig.from_address || nlConfig.sender_email || 'onboarding@resend.dev',\n  newsletterFromName: nlConfig.sender_name || 'Fetemi Marketing',\n  publishNewsletter: !!(newsletter.api_key),\n  adaptations: adapted.adaptations || {},\n  idempotencyKey: adapted.idempotencyKey || ''\n} }];"}, "id": "s2-prepare-tokens", "name": "S2: Prepare Publish Tokens", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3088, 656]}, {"parameters": {"respondWith": "json", "options": {}, "responseBody": "={{ $json }}"}, "id": "ddbefd9e-9cbf-4703-b555-f03d33c9014c", "name": "Return Publish Result", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2768, 1712]}], "connections": {"Webhook - Content Submit": {"main": [[{"node": "Validate Input Payload", "type": "main", "index": 0}]]}, "Validate Input Payload": {"main": [[{"node": "Validation Failed?", "type": "main", "index": 0}]]}, "Generate Submission ID & Dedup Hash": {"main": [[{"node": "Check Duplicate in Supabase", "type": "main", "index": 0}]]}, "Check Duplicate in Supabase": {"main": [[{"node": "Is Duplicate?", "type": "main", "index": 0}]]}, "Is Duplicate?": {"main": [[{"node": "Return Duplicate Error", "type": "main", "index": 0}], [{"node": "URL Provided?", "type": "main", "index": 0}]]}, "URL Provided?": {"main": [[{"node": "Fetch URL Content", "type": "main", "index": 0}], [{"node": "Use Raw Idea", "type": "main", "index": 0}]]}, "Fetch URL Content": {"main": [[{"node": "Extract Text from URL Response", "type": "main", "index": 0}]]}, "Extract Text from URL Response": {"main": [[{"node": "Prepare Content Base", "type": "main", "index": 0}]]}, "Use Raw Idea": {"main": [[{"node": "Prepare Content Base", "type": "main", "index": 0}]]}, "Prepare Content Base": {"main": [[{"node": "Save Submission to Supabase", "type": "main", "index": 0}]]}, "Save Submission to Supabase": {"main": [[{"node": "Generate Draft 1 \u2014 Contrarian Angle", "type": "main", "index": 0}]]}, "Generate Draft 1 \u2014 Contrarian Angle": {"main": [[{"node": "Validate Draft 1", "type": "main", "index": 0}]]}, "Validate Draft 1": {"main": [[{"node": "Generate Draft 2 \u2014 Practical How-To", "type": "main", "index": 0}]]}, "Generate Draft 2 \u2014 Practical How-To": {"main": [[{"node": "Validate Draft 2", "type": "main", "index": 0}]]}, "Validate Draft 2": {"main": [[{"node": "Generate Draft 3 \u2014 Data & Trends", "type": "main", "index": 0}]]}, "Generate Draft 3 \u2014 Data & Trends": {"main": [[{"node": "Validate Draft 3", "type": "main", "index": 0}]]}, "Validate Draft 3": {"main": [[{"node": "Package All Drafts", "type": "main", "index": 0}]]}, "Package All Drafts": {"main": [[{"node": "Update Submission with Drafts", "type": "main", "index": 0}]]}, "Update Submission with Drafts": {"main": [[{"node": "S1: Format Success Response", "type": "main", "index": 0}]]}, "S1: Format Success Response": {"main": [[{"node": "Return Drafts to Frontend", "type": "main", "index": 0}]]}, "Validation Failed?": {"main": [[{"node": "Return Validation Error", "type": "main", "index": 0}], [{"node": "Generate Submission ID & Dedup Hash", "type": "main", "index": 0}]]}, "Receive Draft Selection": {"main": [[{"node": "Validate Selection Input", "type": "main", "index": 0}]]}, "Validate Selection Input": {"main": [[{"node": "Fetch Submission from Supabase", "type": "main", "index": 0}]]}, "Fetch Submission from Supabase": {"main": [[{"node": "Validate Submission State", "type": "main", "index": 0}]]}, "Validate Submission State": {"main": [[{"node": "Lock Submission", "type": "main", "index": 0}]]}, "Lock Submission": {"main": [[{"node": "Extract Selected Draft", "type": "main", "index": 0}]]}, "Extract Selected Draft": {"main": [[{"node": "Adapt for LinkedIn", "type": "main", "index": 0}]]}, "Adapt for LinkedIn": {"main": [[{"node": "Validate LinkedIn Content", "type": "main", "index": 0}]]}, "Validate LinkedIn Content": {"main": [[{"node": "Adapt for X Twitter", "type": "main", "index": 0}]]}, "Adapt for X Twitter": {"main": [[{"node": "Enforce X Character Limit", "type": "main", "index": 0}]]}, "Enforce X Character Limit": {"main": [[{"node": "Adapt for Email Newsletter", "type": "main", "index": 0}]]}, "Adapt for Email Newsletter": {"main": [[{"node": "Validate Newsletter Content", "type": "main", "index": 0}]]}, "Validate Newsletter Content": {"main": [[{"node": "Combine Adapted Content", "type": "main", "index": 0}]]}, "Combine Adapted Content": {"main": [[{"node": "Save Adapted Content to Supabase", "type": "main", "index": 0}]]}, "Save Adapted Content to Supabase": {"main": [[{"node": "Publish Immediately?", "type": "main", "index": 0}]]}, "Publish Immediately?": {"main": [[{"node": "S2: Fetch Connections", "type": "main", "index": 0}], [{"node": "Prepare Scheduled Response", "type": "main", "index": 0}]]}, "S2: Publish to LinkedIn": {"main": [[{"node": "Prepare Published Response", "type": "main", "index": 0}]]}, "Publish to X": {"main": [[{"node": "Prepare Published Response", "type": "main", "index": 0}]]}, "Send Newsletter": {"main": [[{"node": "Prepare Published Response", "type": "main", "index": 0}]]}, "Prepare Published Response": {"main": [[{"node": "S2: Update Submission Status", "type": "main", "index": 0}]]}, "Prepare Scheduled Response": {"main": [[{"node": "S2: Update Submission Status", "type": "main", "index": 0}]]}, "S2: Update Submission Status": {"main": [[{"node": "Return Final Result", "type": "main", "index": 0}]]}, "Receive Publish Request": {"main": [[{"node": "Validate Publish Input", "type": "main", "index": 0}]]}, "Validate Publish Input": {"main": [[{"node": "Fetch Adapted Content", "type": "main", "index": 0}]]}, "Fetch Adapted Content": {"main": [[{"node": "Fetch Platform Connections", "type": "main", "index": 0}]]}, "Fetch Platform Connections": {"main": [[{"node": "Prepare Publishing Data", "type": "main", "index": 0}]]}, "Prepare Publishing Data": {"main": [[{"node": "Should Publish LinkedIn?", "type": "main", "index": 0}]]}, "Should Publish LinkedIn?": {"main": [[{"node": "S3: Publish to LinkedIn", "type": "main", "index": 0}], [{"node": "LinkedIn Skipped", "type": "main", "index": 0}]]}, "S3: Publish to LinkedIn": {"main": [[{"node": "Handle LinkedIn Result", "type": "main", "index": 0}]]}, "Handle LinkedIn Result": {"main": [[{"node": "Should Publish Twitter?", "type": "main", "index": 0}]]}, "LinkedIn Skipped": {"main": [[{"node": "Should Publish Twitter?", "type": "main", "index": 0}]]}, "Should Publish Twitter?": {"main": [[{"node": "Generate Twitter OAuth1 Header", "type": "main", "index": 0}], [{"node": "Twitter Skipped", "type": "main", "index": 0}]]}, "Publish to Twitter": {"main": [[{"node": "Handle Twitter Result", "type": "main", "index": 0}]]}, "Handle Twitter Result": {"main": [[{"node": "Should Send Newsletter?", "type": "main", "index": 0}]]}, "Twitter Skipped": {"main": [[{"node": "Should Send Newsletter?", "type": "main", "index": 0}]]}, "Should Send Newsletter?": {"main": [[{"node": "Send Newsletter via Resend", "type": "main", "index": 0}], [{"node": "Newsletter Skipped", "type": "main", "index": 0}]]}, "Send Newsletter via Resend": {"main": [[{"node": "Handle Newsletter Result", "type": "main", "index": 0}]]}, "Handle Newsletter Result": {"main": [[{"node": "Aggregate Publishing Results", "type": "main", "index": 0}]]}, "Newsletter Skipped": {"main": [[{"node": "Aggregate Publishing Results", "type": "main", "index": 0}]]}, "Aggregate Publishing Results": {"main": [[{"node": "S3: Update Submission Status", "type": "main", "index": 0}]]}, "S3: Update Submission Status": {"main": [[{"node": "Update Adapted Content Published At", "type": "main", "index": 0}]]}, "Update Adapted Content Published At": {"main": [[{"node": "Format Final Response", "type": "main", "index": 0}]]}, "Generate Twitter OAuth1 Header": {"main": [[{"node": "Publish to Twitter", "type": "main", "index": 0}]]}, "S2: Fetch Connections": {"main": [[{"node": "S2: Prepare Publish Tokens", "type": "main", "index": 0}]]}, "S2: Prepare Publish Tokens": {"main": [[{"node": "S2: Publish to LinkedIn", "type": "main", "index": 0}, {"node": "Send Newsletter", "type": "main", "index": 0}, {"node": "Publish to X", "type": "main", "index": 0}]]}, "Format Final Response": {"main": [[{"node": "Return Publish Result", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false, "binaryMode": "separate"}, "staticData": null, "meta": null, "pinData": {}, "versionId": "6b917652-46be-4c5c-82c2-dbe31b3d655c", "activeVersionId": "6b917652-46be-4c5c-82c2-dbe31b3d655c", "versionCounter": 45, "triggerCount": 3, "shared": [{"updatedAt": "2026-03-27T00:32:56.852Z", "createdAt": "2026-03-27T00:32:56.852Z", "role": "workflow:owner", "workflowId": "4s1Qyu5nguAssl39", "projectId": "yWBRHRcJQ2p9SfD3", "project": {"updatedAt": "2026-03-15T17:23:08.798Z", "createdAt": "2026-03-15T11:17:35.196Z", "id": "yWBRHRcJQ2p9SfD3", "name": "Oluwafimidaraayo Ayodele <daraayodaniel@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "72e8c54b-f625-438a-9514-c13fbadae826"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-28T15:57:27.458Z", "createdAt": "2026-03-28T15:57:27.458Z", "versionId": "6b917652-46be-4c5c-82c2-dbe31b3d655c", "workflowId": "4s1Qyu5nguAssl39", "nodes": [{"parameters": {"httpMethod": "POST", "path": "cf-content-submit", "responseMode": "responseNode", "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000001", "name": "Webhook - Content Submit", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "001a4d0e-c64e-4c8d-89e8-3c684fc84af5"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst errors = [];\n\nif (!body || typeof body !== 'object') {\n  errors.push('Request body is required');\n}\n\nconst rawIdea = body?.rawIdea?.toString().trim() || '';\nconst url = body?.url?.toString().trim() || '';\n\nif (!rawIdea && !url) {\n  errors.push('Either rawIdea or url must be provided');\n}\n\nif (url && !/^https?:\\/\\/.+\\..+/.test(url)) {\n  errors.push('url must be a valid HTTP/HTTPS URL');\n}\n\nif (rawIdea && rawIdea.length > 10000) {\n  errors.push('rawIdea must be under 10,000 characters');\n}\n\nconst payloadSize = JSON.stringify(body).length;\nif (payloadSize > 1048576) {\n  errors.push('Payload exceeds 1MB size limit');\n}\n\n// Sanitize inputs\nconst sanitized = {\n  rawIdea: rawIdea.replace(/<[^>]*>/g, '').substring(0, 10000),\n  url: url,\n  publishImmediately: body?.publishImmediately === true,\n};\n\nif (errors.length > 0) {\n  return [{json: {error: true, statusCode: 400, message: errors.join('; ')}}];\n}\n\nreturn [{json: {error: false, ...sanitized}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000002", "name": "Validate Input Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 0]}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst content = input.rawIdea || input.url;\n\n// Simple hash function\nlet hash = 0;\nfor (let i = 0; i < content.length; i++) {\n  const char = content.charCodeAt(i);\n  hash = ((hash << 5) - hash) + char;\n  hash = hash & hash;\n}\nconst contentHash = Math.abs(hash).toString(36);\n\nconst submissionId = 'sub_' + Date.now().toString(36) + '_' + Math.random().toString(36).substring(2, 8);\nconst tenMinAgo = new Date(Date.now() - 10 * 60 * 1000).toISOString();\n\nreturn [{json: {\n  ...input,\n  submissionId,\n  contentHash,\n  tenMinAgo,\n  createdAt: new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000003", "name": "Generate Submission ID & Dedup Hash", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [560, 112]}, {"parameters": {"url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "content_hash", "value": "=eq.{{ $json.contentHash }}"}, {"name": "created_at", "value": "=gt.{{ $json.tenMinAgo }}"}, {"name": "select", "value": "id,content_hash,created_at"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "a1b2c3d4-1001-4000-8001-000000000004", "name": "Check Duplicate in Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [672, 0], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000, "alwaysOutputData": true}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-dup-check", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "name": "filter.operator.exists", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000005", "name": "Is Duplicate?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [880, 0]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: false, error: 'Duplicate submission detected. A similar content was submitted within the last 10 minutes.', statusCode: 409 }) }}", "options": {"responseCode": 409}}, "id": "a1b2c3d4-1001-4000-8001-000000000006", "name": "Return Duplicate Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1104, -144]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "cond-url-check", "leftValue": "={{ $('Generate Submission ID & Dedup Hash').first().json.url }}", "rightValue": "", "operator": {"type": "string", "operation": "notEquals", "name": "filter.operator.notEquals", "singleValue": false}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000007", "name": "URL Provided?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 112]}, {"parameters": {"url": "={{ $('Generate Submission ID & Dedup Hash').first().json.url }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}, {"name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}, {"name": "Accept-Language", "value": "en-US,en;q=0.9"}]}, "options": {"redirect": {"redirect": {"maxRedirects": 5}}, "response": {"response": {"responseFormat": "text"}}, "timeout": 15000}}, "id": "a1b2c3d4-1001-4000-8001-000000000008", "name": "Fetch URL Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1328, -48], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst url = $('Generate Submission ID & Dedup Hash').first().json.url || '';\n\nlet html = '';\nif (typeof input === 'string') html = input;\nelse if (input.data) html = input.data;\nelse if (input.body) html = input.body;\nelse html = JSON.stringify(input);\n\nconst isYouTube = /(?:youtube\\.com\\/watch|youtu\\.be\\/|youtube\\.com\\/shorts\\/)/.test(url);\nconst isInstagram = /instagram\\.com\\/(?:p|reel|tv)\\//.test(url);\n\n// === YOUTUBE: get transcript via local transcript service ===\nif (isYouTube) {\n  let videoTitle = '';\n  const titleMatch = html.match(/<meta\\s+name=\"title\"\\s+content=\"([^\"]+)\"/i)\n    || html.match(/\"title\":\"([^\"]+)\"/);\n  if (titleMatch) videoTitle = titleMatch[1];\n\n  // Call the transcript service\n  let transcript = '';\n  try {\n    const transcriptResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'http://127.0.0.1:3456/?url=' + encodeURIComponent(url),\n      returnFullResponse: false,\n      timeout: 30000\n    });\n    \n    const tData = typeof transcriptResp === 'string' ? JSON.parse(transcriptResp) : transcriptResp;\n    transcript = tData.transcript || '';\n    if (tData.title && !videoTitle) videoTitle = tData.title;\n  } catch(e) {\n    // Transcript service unavailable \u2014 fall back to description\n  }\n\n  // Fallback to description if transcript empty\n  if (!transcript) {\n    const descMatch = html.match(/\"shortDescription\":\"((?:[^\"\\\\]|\\\\.)*)\"/);\n    if (descMatch) transcript = descMatch[1].replace(/\\\\n/g, '\\n');\n  }\n\n  if (!transcript || transcript.length < 30) {\n    return [{json: {error: true, message: 'Could not extract transcript from YouTube video. No captions available.'}}];\n  }\n\n  const isTranscript = transcript.length > 200;\n  const label = isTranscript ? 'YouTube Video Transcript' : 'YouTube Video Description';\n  let text = `[Source: ${label}]\\nTitle: ${videoTitle}\\n\\n${transcript}`;\n  if (text.length > 8000) text = text.substring(0, 8000);\n  return [{json: {extractedContent: text, charCount: text.length, title: videoTitle, inputType: 'url'}}];\n}\n\n// === INSTAGRAM ===\nif (isInstagram) {\n  let caption = '';\n  const metaMatch = html.match(/<meta[^>]+content=\"([^\"]+)\"[^>]+property=\"og:description\"/i)\n    || html.match(/<meta[^>]+property=\"og:description\"[^>]+content=\"([^\"]+)\"/i);\n  if (metaMatch) caption = metaMatch[1];\n  let title = '';\n  const ogTitle = html.match(/<meta[^>]+property=\"og:title\"[^>]+content=\"([^\"]+)\"/i);\n  if (ogTitle) title = ogTitle[1];\n  if (!caption || caption.length < 10) {\n    return [{json: {error: true, message: 'Could not extract content from Instagram post.'}}];\n  }\n  let text = `[Source: Instagram]\\nTitle: ${title}\\n\\n${caption}`;\n  if (text.length > 5000) text = text.substring(0, 5000);\n  return [{json: {extractedContent: text, charCount: text.length, title: title, inputType: 'url'}}];\n}\n\n// === REGULAR WEBPAGE \u2014 SMART ARTICLE EXTRACTION ===\nlet title = '';\nconst ogTitleMatch = html.match(/<meta[^>]+property=\"og:title\"[^>]+content=\"([^\"]+)\"/i)\n  || html.match(/<meta[^>]+content=\"([^\"]+)\"[^>]+property=\"og:title\"/i);\nif (ogTitleMatch) title = ogTitleMatch[1].trim();\nif (!title) {\n  const pageTitleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\n  if (pageTitleMatch) title = pageTitleMatch[1].trim();\n}\n\nlet ogDesc = '';\nconst ogDescMatch = html.match(/<meta[^>]+property=\"og:description\"[^>]+content=\"([^\"]+)\"/i)\n  || html.match(/<meta[^>]+content=\"([^\"]+)\"[^>]+property=\"og:description\"/i)\n  || html.match(/<meta[^>]+name=\"description\"[^>]+content=\"([^\"]+)\"/i);\nif (ogDescMatch) ogDesc = ogDescMatch[1].trim();\n\nhtml = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\nhtml = html.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\nhtml = html.replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '');\nhtml = html.replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '');\nhtml = html.replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '');\nhtml = html.replace(/<aside[^>]*>[\\s\\S]*?<\\/aside>/gi, '');\nhtml = html.replace(/<noscript[^>]*>[\\s\\S]*?<\\/noscript>/gi, '');\nhtml = html.replace(/<iframe[^>]*>[\\s\\S]*?<\\/iframe>/gi, '');\nhtml = html.replace(/<svg[^>]*>[\\s\\S]*?<\\/svg>/gi, '');\nhtml = html.replace(/<form[^>]*>[\\s\\S]*?<\\/form>/gi, '');\nhtml = html.replace(/<button[^>]*>[\\s\\S]*?<\\/button>/gi, '');\nhtml = html.replace(/<input[^>]*>/gi, '');\nhtml = html.replace(/<select[^>]*>[\\s\\S]*?<\\/select>/gi, '');\n\nfunction cleanHtml(h) {\n  let t = h.replace(/<[^>]+>/g, ' ');\n  t = t.replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>')\n    .replace(/&nbsp;/g,' ').replace(/&quot;/g,'\"').replace(/&#39;/g,\"'\")\n    .replace(/&#\\d+;/g,'').replace(/&\\w+;/g,'');\n  return t.replace(/\\s+/g, ' ').trim();\n}\n\nlet articleContent = '';\nconst articleMatch = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\nif (articleMatch) articleContent = cleanHtml(articleMatch[1]);\n\nlet mainContent = '';\nif (!articleContent || articleContent.length < 200) {\n  const mainMatch = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (mainMatch) mainContent = cleanHtml(mainMatch[1]);\n}\n\nlet roleContent = '';\nif (!articleContent && !mainContent) {\n  const roleMatch = html.match(/<div[^>]+role=\"main\"[^>]*>([\\s\\S]*?)<\\/div>/i)\n    || html.match(/<div[^>]+class=\"[^\"]*(?:post-content|article-content|entry-content|blog-content|post-body|article-body|content-body|single-post|story-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i);\n  if (roleMatch) roleContent = cleanHtml(roleMatch[1] || roleMatch[2]);\n}\n\nlet bestSection = '';\nif (!articleContent && !mainContent && !roleContent) {\n  const sections = html.split(/<div[^>]*>/i);\n  let maxP = 0;\n  for (const section of sections) {\n    const pCount = (section.match(/<p[\\s>]/gi) || []).length;\n    const cleaned = cleanHtml(section);\n    if (pCount > maxP && cleaned.length > 200) {\n      maxP = pCount;\n      bestSection = cleaned;\n    }\n  }\n}\n\nlet text = articleContent || mainContent || roleContent || bestSection;\nif (!text || text.length < 100) text = cleanHtml(html);\n\ntext = text.replace(/Sign up|Sign in|Log in|Subscribe|Newsletter|Cookie|Accept all|Reject all|Privacy Policy|Terms of Service|\u00a9\\s*\\d{4}/gi, '');\ntext = text.replace(/Share on \\w+|Share this|Tweet this|Pin it|Email this/gi, '');\ntext = text.replace(/Read more|Load more|Show more|See all|View all/gi, '');\ntext = text.replace(/\\d+ min read|\\d+ minute read/gi, '');\ntext = text.replace(/\\s+/g, ' ').trim();\n\nif (title && !text.startsWith(title)) text = title + '\\n\\n' + text;\nif (text.length > 5000) text = text.substring(0, 5000);\n\nif (text.length < 50) {\n  if (ogDesc && ogDesc.length >= 30) {\n    text = title + '\\n\\n' + ogDesc;\n  } else {\n    return [{json: {error: true, message: 'Could not extract article content from URL.'}}];\n  }\n}\n\nreturn [{json: {extractedContent: text, charCount: text.length, title: title, inputType: 'url'}}];\n"}, "id": "a1b2c3d4-1001-4000-8001-000000000009", "name": "Extract Text from URL Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1552, -48]}, {"parameters": {"jsCode": "const prev = $('Generate Submission ID & Dedup Hash').first().json;\nreturn [{json: {\n  ...prev,\n  contentBase: prev.rawIdea,\n  inputType: 'raw_idea'\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000010", "name": "Use Raw Idea", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1328, 208]}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst prev = $('Generate Submission ID & Dedup Hash').first().json;\n\n// extractedContent comes from URL path, contentBase from raw idea path\nconst contentBase = input.contentBase || input.extractedContent || prev.rawIdea || '';\n\nreturn [{json: {\n  submissionId: prev.submissionId || input.submissionId,\n  contentHash: prev.contentHash || input.contentHash,\n  contentBase: contentBase,\n  inputType: input.inputType || prev.inputType || 'raw_idea',\n  rawIdea: prev.rawIdea || '',\n  url: prev.url || '',\n  publishImmediately: prev.publishImmediately || false,\n  createdAt: prev.createdAt || new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000011", "name": "Prepare Content Base", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1760, 112]}, {"parameters": {"method": "POST", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"id\": \"{{ $json.submissionId }}\",\n  \"content_hash\": \"{{ $json.contentHash }}\",\n  \"content_base\": {{ JSON.stringify($json.contentBase) }},\n  \"input_type\": \"{{ $json.inputType }}\",\n  \"raw_input\": {{ JSON.stringify($json.rawIdea || '') }},\n  \"publish_immediately\": {{ $json.publishImmediately }},\n  \"status\": \"generating\",\n  \"created_at\": \"{{ $json.createdAt }}\"\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "a1b2c3d4-1001-4000-8001-000000000012", "name": "Save Submission to Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1984, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert content writer for a marketing agency called Fetemi. Write an SEO-optimized article taking a CONTRARIAN or challenge-the-status-quo angle on the topic provided.\\n\\nSEO RULES (follow ALL strictly):\\n\\nKEYWORD INTEGRATION:\\n1. Extract primary keywords from the content idea\\n2. Integrate primary keyword into the H1 title AND within the first 100 words\\n3. Analyze the topic to identify long-tail keywords and short-tail keywords\\n4. Integrate these keywords naturally into body text and H2/H3 headers\\n\\nSTRUCTURE OPTIMIZATION:\\n5. Use strict heading hierarchy: One H1 title \\u2192 H2 section headers \\u2192 H3 subheaders\\n6. Aim for 700-800 words per main section (total article should be 2000-2500 words)\\n7. Keep paragraphs short: 2-3 sentences max\\n\\nCONTENT ENRICHMENT:\\n8. Include 2-3 relevant internal or external link suggestions (mark as [LINK: url or description])\\n9. Write at Grade 7 readability level \\u2014 clear, direct, no jargon\\n10. Suggest 1 contextually relevant image placement (mark as [IMAGE: description])\\n\\nFORMAT: Start with a markdown H1 title. Use H2 and H3 subheadings. Write in a bold, opinionated voice that challenges conventional thinking.) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a contrarian, SEO-optimized article on the following topic:\\n\\n\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a contrarian, SEO-optimized article on the following topic:\\n\\n\" + $('Prepare Content Base').first().json.contentBase + \"\\\\n\\\\nIMPORTANT: Write the ENTIRE article in \" + ($('Webhook - Content Submit').first().json.language || 'English') + \". Do not switch languages at any point.\") }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "a1b2c3d4-1001-4000-8001-000000000013", "name": "Generate Draft 1 \u2014 Contrarian Angle", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2208, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const response = $input.first().json;\nlet content = '';\n\ntry {\n  if (response.choices && response.choices[0]) {\n    content = response.choices[0].message.content;\n  }\n} catch(e) {\n  content = '';\n}\n\nif (!content || content.trim().length === 0) {\n  return [{json: {error: true, message: 'AI returned empty draft'}}];\n}\n\n// Strip meta-commentary\ncontent = content.replace(/^(Here's|Here is|Below is|I've written|Sure,).*?\\n+/i, '');\ncontent = content.trim();\n\nconst wordCount = content.split(/\\s+/).length;\nif (wordCount < 300) {\n  return [{json: {error: true, message: `Draft too short: ${wordCount} words (minimum 300)`}}];\n}\n\n// Extract title (first line that starts with # or is the first non-empty line)\nlet title = '';\nconst lines = content.split('\\n');\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (trimmed) {\n    title = trimmed.replace(/^#+\\s*/, '');\n    break;\n  }\n}\n\nreturn [{json: {\n  draftContent: content,\n  draftTitle: title,\n  wordCount,\n  validated: true\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000014", "name": "Validate Draft 1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2432, 112]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify(\"You are an expert content writer for a marketing agency called Fetemi. Write an SEO-optimized article taking a PRACTICAL HOW-TO angle on the topic provided.\\n\\nIMPORTANT: A previous draft took a contrarian angle with the title: \" + $('Validate Draft 1').first().json.draftTitle + \". Your approach must be distinctly different \\u2014 focus on actionable steps and practical advice.\\n\\nSEO RULES (follow ALL strictly):\\n\\nKEYWORD INTEGRATION:\\n1. Extract primary keywords from the content idea\\n2. Integrate primary keyword into the H1 title AND within the first 100 words\\n3. Analyze the topic to identify long-tail keywords and short-tail keywords\\n4. Integrate these keywords naturally into body text and H2/H3 headers\\n\\nSTRUCTURE OPTIMIZATION:\\n5. Use strict heading hierarchy: One H1 title \\u2192 H2 section headers \\u2192 H3 subheaders\\n6. Aim for 700-800 words per main section (total article should be 2000-2500 words)\\n7. Keep paragraphs short: 2-3 sentences max\\n\\nCONTENT ENRICHMENT:\\n8. Include 2-3 relevant internal or external link suggestions (mark as [LINK: url or description])\\n9. Write at Grade 7 readability level \\u2014 clear, direct, no jargon\\n10. Suggest 1 contextually relevant image placement (mark as [IMAGE: description])\\n\\nFORMAT: Start with a markdown H1 title. Use numbered steps, bullet points, and H2/H3 subheadings. Write in a friendly, instructional voice.) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a practical how-to, SEO-optimized article on the following topic:\\n\\n\" + $('Prepare Content Base').first().json.contentBase + \"\\\\n\\\\nIMPORTANT: Write the ENTIRE article in \" + ($('Webhook - Content Submit').first().json.language || 'English') + \". Do not switch languages at any point.\") }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "a1b2c3d4-1001-4000-8001-000000000015", "name": "Generate Draft 2 \u2014 Practical How-To", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2640, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const response = $input.first().json;\nlet content = '';\n\ntry {\n  if (response.choices && response.choices[0]) {\n    content = response.choices[0].message.content;\n  }\n} catch(e) {\n  content = '';\n}\n\nif (!content || content.trim().length === 0) {\n  return [{json: {error: true, message: 'AI returned empty draft'}}];\n}\n\n// Strip meta-commentary\ncontent = content.replace(/^(Here's|Here is|Below is|I've written|Sure,).*?\\n+/i, '');\ncontent = content.trim();\n\nconst wordCount = content.split(/\\s+/).length;\nif (wordCount < 300) {\n  return [{json: {error: true, message: `Draft too short: ${wordCount} words (minimum 300)`}}];\n}\n\n// Extract title (first line that starts with # or is the first non-empty line)\nlet title = '';\nconst lines = content.split('\\n');\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (trimmed) {\n    title = trimmed.replace(/^#+\\s*/, '');\n    break;\n  }\n}\n\nreturn [{json: {\n  draftContent: content,\n  draftTitle: title,\n  wordCount,\n  validated: true\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000016", "name": "Validate Draft 2", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2864, 112]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify(\"You are an expert content writer for a marketing agency called Fetemi. Write an SEO-optimized article taking a DATA & TRENDS angle on the topic provided.\\n\\nIMPORTANT: Previous drafts covered contrarian (title: \" + $('Validate Draft 1').first().json.draftTitle + \") and how-to (title: \" + $('Validate Draft 2').first().json.draftTitle + \") angles. Your approach must use data, statistics, trends, and research-backed insights. Be distinctly different from both previous drafts.\\n\\nSEO RULES (follow ALL strictly):\\n\\nKEYWORD INTEGRATION:\\n1. Extract primary keywords from the content idea\\n2. Integrate primary keyword into the H1 title AND within the first 100 words\\n3. Analyze the topic to identify long-tail keywords and short-tail keywords\\n4. Integrate these keywords naturally into body text and H2/H3 headers\\n\\nSTRUCTURE OPTIMIZATION:\\n5. Use strict heading hierarchy: One H1 title \\u2192 H2 section headers \\u2192 H3 subheaders\\n6. Aim for 700-800 words per main section (total article should be 2000-2500 words)\\n7. Keep paragraphs short: 2-3 sentences max\\n\\nCONTENT ENRICHMENT:\\n8. Include 2-3 relevant internal or external link suggestions (mark as [LINK: url or description])\\n9. Write at Grade 7 readability level \\u2014 clear, direct, no jargon\\n10. Suggest 1 contextually relevant image placement (mark as [IMAGE: description])\\n\\nFORMAT: Start with a markdown H1 title. Cite specific numbers, percentages, and trends. Use H2/H3 subheadings. Write in an authoritative, evidence-based voice.) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a data-driven, trends-focused, SEO-optimized article on the following topic:\\n\\n\" + $('Prepare Content Base').first().json.contentBase + \"\\\\n\\\\nIMPORTANT: Write the ENTIRE article in \" + ($('Webhook - Content Submit').first().json.language || 'English') + \". Do not switch languages at any point.\") }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "a1b2c3d4-1001-4000-8001-000000000017", "name": "Generate Draft 3 \u2014 Data & Trends", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3088, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const response = $input.first().json;\nlet content = '';\n\ntry {\n  if (response.choices && response.choices[0]) {\n    content = response.choices[0].message.content;\n  }\n} catch(e) {\n  content = '';\n}\n\nif (!content || content.trim().length === 0) {\n  return [{json: {error: true, message: 'AI returned empty draft'}}];\n}\n\n// Strip meta-commentary\ncontent = content.replace(/^(Here's|Here is|Below is|I've written|Sure,).*?\\n+/i, '');\ncontent = content.trim();\n\nconst wordCount = content.split(/\\s+/).length;\nif (wordCount < 300) {\n  return [{json: {error: true, message: `Draft too short: ${wordCount} words (minimum 300)`}}];\n}\n\n// Extract title (first line that starts with # or is the first non-empty line)\nlet title = '';\nconst lines = content.split('\\n');\nfor (const line of lines) {\n  const trimmed = line.trim();\n  if (trimmed) {\n    title = trimmed.replace(/^#+\\s*/, '');\n    break;\n  }\n}\n\nreturn [{json: {\n  draftContent: content,\n  draftTitle: title,\n  wordCount,\n  validated: true\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000018", "name": "Validate Draft 3", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3312, 112]}, {"parameters": {"jsCode": "const draft1 = $('Validate Draft 1').first().json;\nconst draft2 = $('Validate Draft 2').first().json;\nconst draft3 = $('Validate Draft 3').first().json;\nconst submission = $('Prepare Content Base').first().json;\n\nconst drafts = [\n  {\n    index: 1,\n    angle: 'Contrarian / Challenge Assumptions',\n    title: draft1.draftTitle,\n    content: draft1.draftContent,\n    wordCount: draft1.wordCount\n  },\n  {\n    index: 2,\n    angle: 'Practical How-To Guide',\n    title: draft2.draftTitle,\n    content: draft2.draftContent,\n    wordCount: draft2.wordCount\n  },\n  {\n    index: 3,\n    angle: 'Data, Trends & Research',\n    title: draft3.draftTitle,\n    content: draft3.draftContent,\n    wordCount: draft3.wordCount\n  }\n];\n\nreturn [{json: {\n  submissionId: submission.submissionId,\n  drafts,\n  generatedAt: new Date().toISOString()\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000019", "name": "Package All Drafts", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3520, 112]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{ $json.submissionId }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": \"pending_review\",\n  \"drafts\": {{ JSON.stringify($json.drafts) }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "a1b2c3d4-1001-4000-8001-000000000020", "name": "Update Submission with Drafts", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3744, 112], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const data = $('Package All Drafts').first().json;\nreturn [{json: {\n  statusCode: 200,\n  body: {\n    success: true,\n    submissionId: data.submissionId,\n    status: 'pending_review',\n    drafts: data.drafts.map(d => ({\n      index: d.index,\n      angle: d.angle,\n      title: d.title,\n      preview: d.content.substring(0, 200) + '...',\n      wordCount: d.wordCount\n    })),\n    message: 'Three drafts generated. Please review and select one to proceed.'\n  }\n}}];"}, "id": "a1b2c3d4-1001-4000-8001-000000000021", "name": "S1: Format Success Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3968, 112]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json.body) }}", "options": {"responseCode": 200}}, "id": "a1b2c3d4-1001-4000-8001-000000000022", "name": "Return Drafts to Frontend", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [4192, 112]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-validation-error", "leftValue": "={{ $json.error }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "a1b2c3d4-1001-4000-8001-000000000030", "name": "Validation Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [336, 0]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: false, error: $json.message, statusCode: $json.statusCode || 400 }) }}", "options": {"responseCode": 400}}, "id": "a1b2c3d4-1001-4000-8001-000000000031", "name": "Return Validation Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [560, -144]}, {"parameters": {"httpMethod": "POST", "path": "cf-draft-select", "responseMode": "responseNode", "options": {}}, "id": "b2c3d4e5-2001-4000-9001-000000000001", "name": "Receive Draft Selection", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 800], "webhookId": "390d6f4e-e736-4204-ab2a-fc37228efa37"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst errors = [];\n\nif (!body || typeof body !== 'object') {\n  errors.push('Request body is required');\n}\n\nconst submissionId = body?.submissionId?.toString().trim() || body?.submission_id?.toString().trim() || '';\nconst selectedDraft = parseInt(body?.selectedDraft || body?.selected_draft, 10);\n\nif (!submissionId) {\n  errors.push('submission_id is required');\n}\n\nif (![1, 2, 3].includes(selectedDraft)) {\n  errors.push('selected_draft must be 1, 2, or 3');\n}\n\nif (errors.length > 0) {\n  return [{json: {error: true, statusCode: 400, message: errors.join('; ')}}];\n}\n\nreturn [{json: {\n  error: false,\n  submissionId,\n  selectedDraft,\n  publishImmediately: body?.publishImmediately === true || body?.publish_immediately === true\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000002", "name": "Validate Selection Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 800]}, {"parameters": {"url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{$json.submissionId}}"}, {"name": "select", "value": "*"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000003", "name": "Fetch Submission from Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [448, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const results = $input.first().json;\nconst selectionInput = $('Validate Selection Input').first().json;\n\n// Handle array response from Supabase\nconst submissions = Array.isArray(results) ? results : [results];\n\nif (!submissions || submissions.length === 0 || !submissions[0].id) {\n  return [{json: {error: true, statusCode: 404, message: 'Submission not found'}}];\n}\n\nconst submission = submissions[0];\n\n// Check status\nif (submission.status !== 'pending_review') {\n  return [{json: {error: true, statusCode: 409, message: `Submission is in '${submission.status}' state. Only 'pending_review' submissions can be selected.`}}];\n}\n\n// Check expiry (72 hours)\nconst createdAt = new Date(submission.created_at || submission.createdAt);\nconst now = new Date();\nconst hoursSinceCreation = (now - createdAt) / (1000 * 60 * 60);\n\nif (hoursSinceCreation > 72) {\n  return [{json: {error: true, statusCode: 410, message: 'Submission has expired. Drafts are only valid for 72 hours. Please create a new submission.'}}];\n}\n\nreturn [{json: {\n  error: false,\n  submission,\n  submissionId: selectionInput.submissionId,\n  selectedDraft: selectionInput.selectedDraft,\n  publishImmediately: selectionInput.publishImmediately\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000004", "name": "Validate Submission State", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 800]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{$json.submissionId}}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": \"processing\",\n  \"selected_draft\": {{ $json.selectedDraft }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000005", "name": "Lock Submission", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const state = $('Validate Submission State').first().json;\nconst submission = state.submission;\nconst selectedIndex = state.selectedDraft;\n\nlet drafts = submission.drafts;\nif (typeof drafts === 'string') {\n  try {\n    drafts = JSON.parse(drafts);\n  } catch(e) {\n    return [{json: {error: true, message: 'Could not parse stored drafts'}}];\n  }\n}\n\nif (!Array.isArray(drafts) || drafts.length === 0) {\n  return [{json: {error: true, message: 'No drafts found in submission'}}];\n}\n\nconst selected = drafts.find(d => d.index === selectedIndex);\nif (!selected) {\n  return [{json: {error: true, message: `Draft ${selectedIndex} not found. Available: ${drafts.map(d => d.index).join(', ')}`}}];\n}\n\nreturn [{json: {\n  submissionId: state.submissionId,\n  selectedDraft: selectedIndex,\n  draftTitle: selected.title,\n  draftContent: selected.content,\n  draftAngle: selected.angle,\n  draftWordCount: selected.wordCount,\n  publishImmediately: state.publishImmediately\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000006", "name": "Extract Selected Draft", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1104, 800]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a LinkedIn content expert for Fetemi marketing agency. Adapt the following article into a LinkedIn post.\\n\\nCRITICAL FORMATTING RULES:\\n- Output PLAIN TEXT only. NO markdown. NO asterisks. NO hashtags (#). NO bold (**text**). NO headers (##).\\n- Use the PAS (Problem \u2013 Agitate \u2013 Solution) copywriting technique\\n- Short paragraphs (max 2\u20133 lines) separated by blank lines\\n- Use Unicode symbols for bullets: \u2705 \u2022 \u2192 \u25b8 (NOT markdown dashes or asterisks)\\n- 3\u20135 relevant emojis max, placed naturally\\n- End with a clear question as CTA to drive comments\\n- Keep under 3000 characters total\\n- NO hashtags at the end of the post\\n- NO markdown formatting whatsoever \u2014 LinkedIn does not render markdown\\n\\nEXAMPLE FORMAT:\\nEver wondered why your morning meeting drains your energy?\\n\\nTry this:\\n\u2705 Block mornings for deep work\\n\u2705 Skip email until after coffee\\n\u2705 End your day with next-day planning\\n\\nYour productivity will thank you.\\n\\nWhat's one ritual you swear by? \u2600\ufe0f\\n\\nWrite ONLY the LinkedIn post. No commentary or explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"ARTICLE:\\n\\n\" + $json.draftContent) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "b2c3d4e5-2001-4000-9001-000000000007", "name": "Adapt for LinkedIn", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1328, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const input = $input.first().json;\nlet content = '';\ntry {\n  content = input.choices[0].message.content.trim();\n} catch(e) {\n  return [{json: {error: true, message: 'AI returned empty LinkedIn adaptation'}}];\n}\n\n// Strip ALL markdown \u2014 LinkedIn is plain text only\ncontent = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1');\ncontent = content.replace(/\\*([^*]+)\\*/g, '$1');\ncontent = content.replace(/__([^_]+)__/g, '$1');\ncontent = content.replace(/_([^_]+)_/g, '$1');\ncontent = content.replace(/^#{1,6}\\s+/gm, '');\ncontent = content.replace(/^[-*]\\s+/gm, '\\u2022 ');\ncontent = content.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1');\ncontent = content.replace(/\\n*(?:#\\w+\\s*)+$/g, '');\n\nif (content.length > 3000) {\n  content = content.substring(0, 2997) + '...';\n}\n\nconst hasCTA = /\\?|comment|share|follow|what do you think|thoughts/i.test(content);\n\nreturn [{json: {\n  linkedinContent: content,\n  charCount: content.length,\n  hasCTA,\n  truncated: content.length >= 3000\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000008", "name": "Validate LinkedIn Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1552, 800]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Twitter/X content expert for Fetemi marketing agency. Adapt the following article into a single tweet.\\n\\nFORMATTING RULES (follow exactly):\\n- Lead with the main benefit or insight\\n- One core idea per tweet\\n- Optional line breaks for readability\\n- Max 1\\u20132 hashtags, keep them relevant\\n- Tag only if it adds value\\n- MUST be under 280 characters total (this is CRITICAL \\u2014 count carefully)\\n\\nEXAMPLE FORMAT:\\nBoost your focus in under 5 minutes.\\n\\nDo a \\\"brain dump\\\": write down everything on your mind, then circle your top 3 tasks.\\n\\nFeels like clearing browser tabs in your head. \\ud83d\\udd04\\n\\n#ProductivityTips\\n\\nWrite ONLY the tweet text. No commentary or explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"ARTICLE:\\n\\n\" + $('Extract Selected Draft').first().json.draftContent) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "b2c3d4e5-2001-4000-9001-000000000009", "name": "Adapt for X Twitter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1760, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const input = $input.first().json;\nlet content = '';\ntry {\n  content = input.choices[0].message.content.trim();\n} catch(e) {\n  content = '';\n}\n\nif (!content) {\n  return [{json: {error: true, message: 'AI returned empty X/Twitter adaptation'}}];\n}\n\nif (content.length <= 280) {\n  return [{json: {twitterContent: content, charCount: content.length, truncated: false}}];\n}\n\n// Try to truncate at last sentence boundary under 280\nconst sentences = content.match(/[^.!?]+[.!?]+/g) || [content];\nlet truncated = '';\nfor (const sentence of sentences) {\n  if ((truncated + sentence).length <= 280) {\n    truncated += sentence;\n  } else {\n    break;\n  }\n}\n\nif (truncated.length > 0 && truncated.length <= 280) {\n  return [{json: {twitterContent: truncated.trim(), charCount: truncated.trim().length, truncated: true}}];\n}\n\n// Fallback: hard cut at 277 + ...\nconst hardCut = content.substring(0, 277) + '...';\nreturn [{json: {twitterContent: hardCut, charCount: 280, truncated: true}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000010", "name": "Enforce X Character Limit", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1984, 800]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email marketing expert for Fetemi marketing agency. Adapt the following article into an email newsletter.\\n\\nCRITICAL: Output clean HTML for email. NOT markdown.\\n\\nFORMATTING RULES (follow exactly):\\n- Start with the subject line on its own line: SUBJECT: Your Subject Here\\n- Then write the email body in clean, simple HTML\\n- Use <h2> for section headers (NOT <h1>, NOT markdown ##)\\n- Use <p> tags for paragraphs\\n- Use <ul><li> for bullet lists\\n- Use <strong> for bold, <em> for italic\\n- Use <a href=\\\"url\\\"> for links\\n- DO NOT use markdown syntax (no **, no ##, no - bullets)\\n- Short, engaging intro (1\u20133 sentences)\\n- Main value section with subheadings and bullets for skimmability\\n- Clear call-to-action\\n- Friendly sign-off\\n- Tone: like writing to a smart friend who is busy but trusts you\\n- Total length: 250\u2013600 words\\n\\nWrite SUBJECT: line first, then the HTML email body. No commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"ARTICLE:\\n\\n\" + $('Extract Selected Draft').first().json.draftContent) }}\n    }\n  ]\n}", "options": {"response": {"response": {}}, "timeout": 60000}}, "id": "b2c3d4e5-2001-4000-9001-000000000011", "name": "Adapt for Email Newsletter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2208, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const input = $input.first().json;\nlet content = '';\ntry {\n  content = input.choices[0].message.content.trim();\n} catch(e) {\n  return [{json: {error: true, message: 'AI returned empty newsletter adaptation'}}];\n}\n\nlet subject = 'New from Fetemi';\nconst subjectMatch = content.match(/^SUBJECT:\\s*(.+)$/mi);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n  content = content.replace(/^SUBJECT:\\s*.+$/mi, '').trim();\n}\n\n// Strip any HTML/body wrapper tags the AI added\ncontent = content.replace(/<\\/?html[^>]*>/gi, '');\ncontent = content.replace(/<\\/?body[^>]*>/gi, '');\ncontent = content.replace(/<\\/?head[^>]*>/gi, '');\ncontent = content.replace(/<\\/?doctype[^>]*>/gi, '');\n\n// If AI output HTML, use it directly. If markdown, convert.\nconst hasHTML = /<(?:p|h[1-6]|ul|ol|div|strong|em|a\\s)[^>]*>/i.test(content);\n\nif (!hasHTML) {\n  // Convert markdown to HTML\n  content = content\n    .replace(/### (.+)/g, '<h3>$1</h3>')\n    .replace(/## (.+)/g, '<h2>$1</h2>')\n    .replace(/# (.+)/g, '<h2>$1</h2>')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*([^*]+)\\*/g, '<em>$1</em>')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<a href=\"$2\">$1</a>');\n\n  // Convert bullet lists\n  const lines = content.split('\\n');\n  let result = [];\n  let inList = false;\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (/^[-*]\\s+/.test(trimmed)) {\n      if (!inList) { result.push('<ul>'); inList = true; }\n      result.push('<li>' + trimmed.replace(/^[-*]\\s+/, '') + '</li>');\n    } else {\n      if (inList) { result.push('</ul>'); inList = false; }\n      if (!trimmed) continue;\n      if (trimmed.startsWith('<')) {\n        result.push(trimmed);\n      } else {\n        result.push('<p>' + trimmed + '</p>');\n      }\n    }\n  }\n  if (inList) result.push('</ul>');\n  content = result.join('\\n');\n}\n\n// Clean up any double-wrapped paragraphs\ncontent = content.replace(/<p>\\s*<p>/g, '<p>');\ncontent = content.replace(/<\\/p>\\s*<\\/p>/g, '</p>');\n\nconst htmlContent = '<div style=\"font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6;font-size:16px;\">' +\n  content +\n  '<hr style=\"border:none;border-top:1px solid #eee;margin:24px 0;\">' +\n  '<p style=\"color:#888;font-size:13px;\">Sent by Fetemi Marketing</p></div>';\n\nconst wordCount = content.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().split(' ').length;\n\nreturn [{json: {\n  newsletterSubject: subject,\n  newsletterContent: htmlContent,\n  newsletterWordCount: wordCount,\n  withinRange: wordCount >= 200 && wordCount <= 700\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000012", "name": "Validate Newsletter Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2432, 800]}, {"parameters": {"jsCode": "const linkedin = $('Validate LinkedIn Content').first().json;\nconst twitter = $('Enforce X Character Limit').first().json;\nconst newsletter = $('Validate Newsletter Content').first().json;\nconst draft = $('Extract Selected Draft').first().json;\n\nconst idempotencyKey = draft.submissionId + '_' + draft.selectedDraft + '_' + Date.now().toString(36);\n\nreturn [{json: {\n  submissionId: draft.submissionId,\n  selectedDraft: draft.selectedDraft,\n  draftTitle: draft.draftTitle,\n  draftAngle: draft.draftAngle,\n  publishImmediately: draft.publishImmediately,\n  idempotencyKey,\n  adaptations: {\n    linkedin: {\n      content: linkedin.linkedinContent,\n      charCount: linkedin.charCount,\n      hasCTA: linkedin.hasCTA\n    },\n    twitter: {\n      content: twitter.twitterContent,\n      charCount: twitter.charCount,\n      truncated: twitter.truncated\n    },\n    newsletter: {\n      subject: newsletter.newsletterSubject,\n      content: newsletter.newsletterContent,\n      wordCount: newsletter.newsletterWordCount || 0\n    }\n  },\n  adaptedAt: new Date().toISOString()\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000013", "name": "Combine Adapted Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2640, 800]}, {"parameters": {"method": "POST", "url": "=https://your-project.supabase.co/rest/v1/adapted_content", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"submission_id\": \"{{ $json.submissionId }}\",\n  \"linkedin_content\": {{ JSON.stringify($json.adaptations.linkedin.content) }},\n  \"twitter_content\": {{ JSON.stringify($json.adaptations.twitter.content) }},\n  \"twitter_char_count\": {{ $json.adaptations.twitter.charCount }},\n  \"newsletter_subject\": {{ JSON.stringify($json.adaptations.newsletter.subject) }},\n  \"newsletter_content\": {{ JSON.stringify($json.adaptations.newsletter.content) }},\n  \"newsletter_word_count\": {{ $json.adaptations.newsletter.wordCount }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000014", "name": "Save Adapted Content to Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2864, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-publish-check", "leftValue": "={{ $('Combine Adapted Content').first().json.publishImmediately }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "b2c3d4e5-2001-4000-9001-000000000015", "name": "Publish Immediately?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3088, 800]}, {"parameters": {"method": "POST", "url": "https://api.linkedin.com/rest/posts", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('S2: Prepare Publish Tokens').first().json.linkedinAccessToken }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Restli-Protocol-Version", "value": "2.0.0"}, {"name": "LinkedIn-Version", "value": "202503"}, {"name": "X-Idempotency-Key", "value": "={{ $('S2: Prepare Publish Tokens').first().json.idempotencyKey }}_linkedin"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $('S2: Prepare Publish Tokens').first().json.linkedinUserId }}\",\n  \"commentary\": {{ JSON.stringify($('S2: Prepare Publish Tokens').first().json.adaptations.linkedin.content) }},\n  \"visibility\": \"PUBLIC\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  },\n  \"lifecycleState\": \"PUBLISHED\",\n  \"isReshareDisabledByAuthor\": false\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "b2c3d4e5-2001-4000-9001-000000000016", "name": "S2: Publish to LinkedIn", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3312, 656], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"method": "POST", "url": "={{$env.TWITTER_API_URL || 'https://api.twitter.com/2/tweets'}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.TWITTER_BEARER_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Idempotency-Key", "value": "={{ $('Combine Adapted Content').first().json.idempotencyKey }}_twitter"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"text\": {{ JSON.stringify($('Combine Adapted Content').first().json.adaptations.twitter.content) }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "b2c3d4e5-2001-4000-9001-000000000017", "name": "Publish to X", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3312, 800], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"method": "POST", "url": "https://api.resend.com/emails", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('S2: Prepare Publish Tokens').first().json.newsletterApiKey }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"from\": {{ JSON.stringify($('S2: Prepare Publish Tokens').first().json.newsletterFromName + ' <' + $('S2: Prepare Publish Tokens').first().json.newsletterFrom + '>') }},\n  \"to\": [\"daraayodaniel@gmail.com\"],\n  \"subject\": {{ JSON.stringify($('Combine Adapted Content').first().json.adaptations.newsletter.subject || 'New from Fetemi') }},\n  \"html\": {{ JSON.stringify($('Combine Adapted Content').first().json.adaptations.newsletter.content || '') }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "b2c3d4e5-2001-4000-9001-000000000018", "name": "Send Newsletter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3312, 960], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"jsCode": "const adapted = $('Combine Adapted Content').first().json;\n\nconst linkedinResult = $('S2: Publish to LinkedIn').first().json;\nconst twitterResult = $('Publish to X').first().json;\nconst newsletterResult = $('Send Newsletter').first().json;\n\nreturn [{json: {\n  submissionId: adapted.submissionId,\n  status: 'published',\n  publishedAt: new Date().toISOString(),\n  results: {\n    linkedin: {\n      published: true,\n      charCount: adapted.adaptations.linkedin.charCount,\n      response: linkedinResult\n    },\n    twitter: {\n      published: true,\n      charCount: adapted.adaptations.twitter.charCount,\n      response: twitterResult\n    },\n    newsletter: {\n      sent: true,\n      subject: adapted.adaptations.newsletter.subject,\n      wordCount: adapted.adaptations.newsletter.wordCount,\n      response: newsletterResult\n    }\n  },\n  message: 'Content published to all platforms successfully.'\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000019", "name": "Prepare Published Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3520, 800]}, {"parameters": {"jsCode": "const adapted = $('Combine Adapted Content').first().json;\n\nreturn [{json: {\n  submissionId: adapted.submissionId,\n  status: 'scheduled',\n  adaptedAt: adapted.adaptedAt,\n  adaptations: {\n    linkedin: {\n      preview: adapted.adaptations.linkedin.content.substring(0, 200) + '...',\n      charCount: adapted.adaptations.linkedin.charCount\n    },\n    twitter: {\n      preview: adapted.adaptations.twitter.content,\n      charCount: adapted.adaptations.twitter.charCount\n    },\n    newsletter: {\n      subject: adapted.adaptations.newsletter.subject,\n      preview: adapted.adaptations.newsletter.content.substring(0, 200) + '...',\n      wordCount: adapted.adaptations.newsletter.wordCount\n    }\n  },\n  message: 'Content adapted for all platforms and saved. Ready for manual publishing or scheduling.'\n}}];"}, "id": "b2c3d4e5-2001-4000-9001-000000000020", "name": "Prepare Scheduled Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3520, 1056]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{$json.submissionId}}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": \"{{ $json.status }}\"\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "b2c3d4e5-2001-4000-9001-000000000021", "name": "S2: Update Submission Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3744, 912], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, submissionId: $('S2: Update Submission Status').first().json.submission_id || $json.submissionId, status: $json.status, adaptations: $json.adaptations || $json.results, message: $json.message }) }}", "options": {"responseCode": 200}}, "id": "b2c3d4e5-2001-4000-9001-000000000022", "name": "Return Final Result", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [3968, 912]}, {"parameters": {"httpMethod": "POST", "path": "cf-publish-content", "responseMode": "responseNode", "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000001", "name": "Receive Publish Request", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 1600], "webhookId": "9cb5e14a-a1d7-4c01-a45b-072f8cdeaa5b"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst errors = [];\n\nif (!body || typeof body !== 'object') {\n  errors.push('Request body is required');\n}\n\nconst submissionId = (body?.submission_id || body?.submissionId || '').toString().trim();\nlet platforms = body?.platforms || ['linkedin', 'twitter', 'newsletter'];\n\nif (!submissionId) {\n  errors.push('submission_id is required');\n}\n\nif (!Array.isArray(platforms)) {\n  platforms = [platforms];\n}\n\nconst validPlatforms = ['linkedin', 'twitter', 'newsletter'];\nconst invalidPlatforms = platforms.filter(p => !validPlatforms.includes(p));\nif (invalidPlatforms.length > 0) {\n  errors.push('Invalid platforms: ' + invalidPlatforms.join(', ') + '. Valid: linkedin, twitter, newsletter');\n}\n\nif (errors.length > 0) {\n  return [{ json: { error: true, statusCode: 400, message: errors.join('; ') } }];\n}\n\nconst idempotencyBase = submissionId + '_pub_' + Date.now().toString(36);\n\nreturn [{ json: {\n  error: false,\n  submissionId,\n  platforms,\n  idempotencyBase\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000002", "name": "Validate Publish Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 1600]}, {"parameters": {"url": "https://your-project.supabase.co/rest/v1/adapted_content", "sendQuery": true, "queryParameters": {"parameters": [{"name": "submission_id", "value": "=eq.{{ $json.submissionId }}"}, {"name": "select", "value": "*"}, {"name": "order", "value": "created_at.desc"}, {"name": "limit", "value": "1"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000003", "name": "Fetch Adapted Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [448, 1600], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"url": "https://your-project.supabase.co/rest/v1/platform_connections", "sendQuery": true, "queryParameters": {"parameters": [{"name": "status", "value": "eq.active"}, {"name": "select", "value": "platform,access_token,refresh_token,api_key,config,platform_user_id,platform_username,token_expires_at"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000004", "name": "Fetch Platform Connections", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [672, 1600], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const adaptedRaw = $('Fetch Adapted Content').first().json;\nconst connectionsRaw = $('Fetch Platform Connections').all().map(i => i.json);\nconst publishInput = $('Validate Publish Input').first().json;\n\n// Parse adapted content - Supabase returns array\nconst adaptedArr = Array.isArray(adaptedRaw) ? adaptedRaw : [adaptedRaw];\nconst adapted = adaptedArr[0] || adaptedRaw;\n\n// Parse connections - flatten if nested arrays\nlet connections = [];\nfor (const item of connectionsRaw) {\n  if (Array.isArray(item)) {\n    connections.push(...item);\n  } else {\n    connections.push(item);\n  }\n}\n\nconst connectionMap = {};\nfor (const conn of connections) {\n  if (conn && conn.platform) {\n    connectionMap[conn.platform] = conn;\n  }\n}\n\nconst requestedPlatforms = publishInput.platforms || ['twitter', 'newsletter'];\nconst readyPlatforms = [];\nconst missingPlatforms = [];\n\nfor (const p of requestedPlatforms) {\n  const conn = connectionMap[p];\n  if (p === 'newsletter' && conn && (conn.api_key || conn.access_token)) {\n    readyPlatforms.push('newsletter');\n  } else if (conn && conn.access_token) {\n    const expiresAt = conn.token_expires_at ? new Date(conn.token_expires_at) : null;\n    if (expiresAt && expiresAt < new Date()) {\n      missingPlatforms.push(p + ' (token expired)');\n    } else {\n      readyPlatforms.push(p);\n    }\n  } else {\n    missingPlatforms.push(p + ' (not connected or missing token)');\n  }\n}\n\n// Get newsletter config\nconst nlConn = connectionMap.newsletter || {};\nconst nlConfig = nlConn.config || {};\n\nreturn [{ json: {\n  submissionId: publishInput.submissionId,\n  idempotencyBase: publishInput.idempotencyBase || publishInput.submissionId + '_' + Date.now(),\n  adapted: {\n    linkedinContent: adapted.linkedin_content || '',\n    twitterContent: adapted.twitter_content || '',\n    newsletterSubject: adapted.newsletter_subject || '',\n    newsletterContent: adapted.newsletter_content || ''\n  },\n  connections: connectionMap,\n  newsletterApiKey: nlConn.api_key || '',\n  newsletterFromEmail: nlConfig.sender_email || 'content@fetemi.com',\n  newsletterFromName: nlConfig.sender_name || 'Fetemi Marketing',\n  twitterAccessToken: connectionMap.twitter ? connectionMap.twitter.access_token : '',\n  twitterConfig: connectionMap.twitter ? (connectionMap.twitter.config || {}) : {},\n  linkedinAccessToken: connectionMap.linkedin ? connectionMap.linkedin.access_token : '',\n  linkedinUserId: connectionMap.linkedin ? connectionMap.linkedin.platform_user_id : '',\n  readyPlatforms,\n  missingPlatforms,\n  publishLinkedin: readyPlatforms.includes('linkedin'),\n  publishTwitter: readyPlatforms.includes('twitter'),\n  publishNewsletter: readyPlatforms.includes('newsletter')\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000005", "name": "Prepare Publishing Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 1600]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-linkedin-ready", "leftValue": "={{ $json.publishLinkedin }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000006", "name": "Should Publish LinkedIn?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 1408]}, {"parameters": {"method": "POST", "url": "https://api.linkedin.com/rest/posts", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('Prepare Publishing Data').first().json.connections.linkedin.access_token }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Restli-Protocol-Version", "value": "2.0.0"}, {"name": "LinkedIn-Version", "value": "202503"}, {"name": "X-Idempotency-Key", "value": "={{ $('Prepare Publishing Data').first().json.idempotencyBase }}_linkedin"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $('Prepare Publishing Data').first().json.connections.linkedin.platform_user_id }}\",\n  \"commentary\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.linkedinContent) }},\n  \"visibility\": \"PUBLIC\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  },\n  \"lifecycleState\": \"PUBLISHED\",\n  \"isReshareDisabledByAuthor\": false\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "d4e5f6a7-4001-4000-9001-000000000007", "name": "S3: Publish to LinkedIn", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1344, 1312], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"parameters": {"jsCode": "const response = $input.first().json;\nconst isError = !!response.error || !!response.errorMessage || (response.status && response.status >= 400);\n\nif (isError) {\n  return [{ json: {\n    platform: 'linkedin',\n    success: false,\n    error: response.message || response.errorMessage || response.error || JSON.stringify(response)\n  } }];\n}\n\n// /rest/posts returns 201 with empty body, post ID is in x-restli-id header\nreturn [{ json: {\n  platform: 'linkedin',\n  success: true,\n  postId: response.id || response['x-restli-id'] || response['X-RestLi-Id'] || null,\n  response: response\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000008", "name": "Handle LinkedIn Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 1312]}, {"parameters": {"jsCode": "// LinkedIn was skipped\nreturn [{ json: {\n  platform: 'linkedin',\n  success: false,\n  error: 'LinkedIn not connected or token expired \u2014 skipped'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000009", "name": "LinkedIn Skipped", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 1504]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-twitter-ready", "leftValue": "={{ $('Prepare Publishing Data').first().json.publishTwitter }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000010", "name": "Should Publish Twitter?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 1712]}, {"parameters": {"method": "POST", "url": "https://api.twitter.com/2/tweets", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{ $json.twitterAuthHeader }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Idempotency-Key", "value": "={{ $('Prepare Publishing Data').first().json.idempotencyBase }}_twitter"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"text\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.twitterContent) }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "d4e5f6a7-4001-4000-9001-000000000011", "name": "Publish to Twitter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1440, 1600], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"parameters": {"jsCode": "const response = $input.first().json;\nconst isError = !!response.error || !!response.errors || !!response.errorMessage || (response.status && response.status >= 400);\n\nif (isError) {\n  const errMsg = response.detail || response.message || response.errorMessage || (response.errors && response.errors[0]?.message) || JSON.stringify(response);\n  return [{ json: {\n    platform: 'twitter',\n    success: false,\n    error: errMsg\n  } }];\n}\n\nreturn [{ json: {\n  platform: 'twitter',\n  success: true,\n  tweetId: response.data?.id || response.id || null,\n  tweetText: response.data?.text || null,\n  response: response\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000012", "name": "Handle Twitter Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1664, 1600]}, {"parameters": {"jsCode": "// Twitter was skipped\nreturn [{ json: {\n  platform: 'twitter',\n  success: false,\n  error: 'Twitter not connected or token expired \u2014 skipped'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000013", "name": "Twitter Skipped", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 1808]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-newsletter-ready", "leftValue": "={{ $('Prepare Publishing Data').first().json.publishNewsletter }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "name": "filter.operator.true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "d4e5f6a7-4001-4000-9001-000000000014", "name": "Should Send Newsletter?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1104, 2000]}, {"parameters": {"method": "POST", "url": "https://api.resend.com/emails", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $('Prepare Publishing Data').first().json.newsletterApiKey }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Idempotency-Key", "value": "={{ $('Prepare Publishing Data').first().json.idempotencyBase }}_newsletter"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"from\": \"Fetemi Marketing <onboarding@resend.dev>\",\n  \"to\": [{{ JSON.stringify($('Prepare Publishing Data').first().json.newsletterFromEmail) }}],\n  \"subject\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.newsletterSubject) }},\n  \"html\": {{ JSON.stringify($('Prepare Publishing Data').first().json.adapted.newsletterContent) }}\n}", "options": {"response": {"response": {}}, "timeout": 30000}}, "id": "d4e5f6a7-4001-4000-9001-000000000015", "name": "Send Newsletter via Resend", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1344, 1904], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"parameters": {"jsCode": "const response = $input.first().json;\nconst isError = !!response.error || !!response.statusCode && response.statusCode >= 400;\n\nif (isError) {\n  return [{ json: {\n    platform: 'newsletter',\n    success: false,\n    error: response.message || response.error || JSON.stringify(response)\n  } }];\n}\n\nreturn [{ json: {\n  platform: 'newsletter',\n  success: true,\n  emailId: response.id || null,\n  response: response\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000016", "name": "Handle Newsletter Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 1904]}, {"parameters": {"jsCode": "// Newsletter was skipped\nreturn [{ json: {\n  platform: 'newsletter',\n  success: false,\n  error: 'Newsletter not configured \u2014 skipped'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000017", "name": "Newsletter Skipped", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 2112]}, {"parameters": {"jsCode": "const publishData = $('Prepare Publishing Data').first().json;\n\n// Collect results from all paths\nconst results = [];\nconst platformsPublished = [];\nconst errors = [];\n\n// Helper to safely get a result from a node\nfunction getResult(nodeName) {\n  try {\n    return $(nodeName).first().json;\n  } catch(e) {\n    return null;\n  }\n}\n\n// LinkedIn result\nconst linkedinResult = getResult('Handle LinkedIn Result') || getResult('LinkedIn Skipped');\nif (linkedinResult) {\n  results.push(linkedinResult);\n  if (linkedinResult.success) platformsPublished.push('linkedin');\n  else if (linkedinResult.error) errors.push({ platform: 'linkedin', error: linkedinResult.error });\n}\n\n// Twitter result\nconst twitterResult = getResult('Handle Twitter Result') || getResult('Twitter Skipped');\nif (twitterResult) {\n  results.push(twitterResult);\n  if (twitterResult.success) platformsPublished.push('twitter');\n  else if (twitterResult.error) errors.push({ platform: 'twitter', error: twitterResult.error });\n}\n\n// Newsletter result\nconst newsletterResult = getResult('Handle Newsletter Result') || getResult('Newsletter Skipped');\nif (newsletterResult) {\n  results.push(newsletterResult);\n  if (newsletterResult.success) platformsPublished.push('newsletter');\n  else if (newsletterResult.error) errors.push({ platform: 'newsletter', error: newsletterResult.error });\n}\n\nconst overallSuccess = platformsPublished.length > 0;\nconst status = overallSuccess ? 'published' : 'publish_failed';\n\nreturn [{ json: {\n  submissionId: publishData.submissionId,\n  success: overallSuccess,\n  status,\n  platformsPublished,\n  errors,\n  results,\n  publishedAt: overallSuccess ? new Date().toISOString() : null\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000018", "name": "Aggregate Publishing Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1808, 1712]}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/submissions", "sendQuery": true, "queryParameters": {"parameters": [{"name": "id", "value": "=eq.{{ $json.submissionId }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"status\": {{ JSON.stringify($json.status) }},\n  \"updated_at\": {{ JSON.stringify(new Date().toISOString()) }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000019", "name": "S3: Update Submission Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2032, 1712], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"method": "PATCH", "url": "=https://your-project.supabase.co/rest/v1/adapted_content", "sendQuery": true, "queryParameters": {"parameters": [{"name": "submission_id", "value": "=eq.{{ $('Prepare Publishing Data').first().json.submissionId }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"published_at\": {{ JSON.stringify($('Aggregate Publishing Results').first().json.publishedAt) }}\n}", "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "d4e5f6a7-4001-4000-9001-000000000020", "name": "Update Adapted Content Published At", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2240, 1712], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000}, {"parameters": {"jsCode": "const results = $('Aggregate Publishing Results').first().json;\n\nreturn [{ json: {\n  success: results.success,\n  submission_id: results.submissionId,\n  status: results.status,\n  platforms_published: results.platformsPublished,\n  errors: results.errors,\n  published_at: results.publishedAt,\n  message: results.success\n    ? 'Content published to: ' + results.platformsPublished.join(', ')\n    : 'Publishing failed for all platforms. See errors for details.'\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000021", "name": "Format Final Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2464, 1712]}, {"parameters": {"jsCode": "// Pure JavaScript HMAC-SHA1 for OAuth 1.0a (no crypto module needed)\nfunction sha1Bytes(bytes) {\n  function rotl(n, s) { return (n << s) | (n >>> (32 - s)); }\n  var i, W = new Array(80);\n  var H0 = 0x67452301, H1 = 0xEFCDAB89, H2 = 0x98BADCFE, H3 = 0x10325476, H4 = 0xC3D2E1F0;\n  var A, B, C, D, E, temp;\n  var msgBytes = bytes.slice();\n  var msgLen = msgBytes.length;\n  msgBytes.push(0x80);\n  while (msgBytes.length % 64 !== 56) { msgBytes.push(0); }\n  var bitLen = msgLen * 8;\n  msgBytes.push(0, 0, 0, 0);\n  msgBytes.push((bitLen >>> 24) & 0xff, (bitLen >>> 16) & 0xff, (bitLen >>> 8) & 0xff, bitLen & 0xff);\n  for (var blockstart = 0; blockstart < msgBytes.length; blockstart += 64) {\n    for (i = 0; i < 16; i++) {\n      W[i] = (msgBytes[blockstart + i * 4] << 24) | (msgBytes[blockstart + i * 4 + 1] << 16) | (msgBytes[blockstart + i * 4 + 2] << 8) | msgBytes[blockstart + i * 4 + 3];\n    }\n    for (i = 16; i < 80; i++) { W[i] = rotl(W[i - 3] ^ W[i - 8] ^ W[i - 14] ^ W[i - 16], 1); }\n    A = H0; B = H1; C = H2; D = H3; E = H4;\n    for (i = 0; i < 80; i++) {\n      if (i < 20) { temp = (rotl(A, 5) + ((B & C) | (~B & D)) + E + W[i] + 0x5A827999) & 0xffffffff; }\n      else if (i < 40) { temp = (rotl(A, 5) + (B ^ C ^ D) + E + W[i] + 0x6ED9EBA1) & 0xffffffff; }\n      else if (i < 60) { temp = (rotl(A, 5) + ((B & C) | (B & D) | (C & D)) + E + W[i] + 0x8F1BBCDC) & 0xffffffff; }\n      else { temp = (rotl(A, 5) + (B ^ C ^ D) + E + W[i] + 0xCA62C1D6) & 0xffffffff; }\n      E = D; D = C; C = rotl(B, 30); B = A; A = temp;\n    }\n    H0 = (H0 + A) & 0xffffffff; H1 = (H1 + B) & 0xffffffff;\n    H2 = (H2 + C) & 0xffffffff; H3 = (H3 + D) & 0xffffffff; H4 = (H4 + E) & 0xffffffff;\n  }\n  var result = [];\n  [H0, H1, H2, H3, H4].forEach(function(h) {\n    result.push((h >>> 24) & 0xff, (h >>> 16) & 0xff, (h >>> 8) & 0xff, h & 0xff);\n  });\n  return result;\n}\n\nfunction strToBytes(str) {\n  var bytes = [];\n  for (var i = 0; i < str.length; i++) { bytes.push(str.charCodeAt(i) & 0xff); }\n  return bytes;\n}\n\nfunction bytesToBase64(bytes) {\n  var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  var result = '';\n  for (var i = 0; i < bytes.length; i += 3) {\n    var b1 = bytes[i], b2 = bytes[i + 1] || 0, b3 = bytes[i + 2] || 0;\n    var triplet = (b1 << 16) | (b2 << 8) | b3;\n    result += chars[(triplet >>> 18) & 0x3f];\n    result += chars[(triplet >>> 12) & 0x3f];\n    result += (i + 1 < bytes.length) ? chars[(triplet >>> 6) & 0x3f] : '=';\n    result += (i + 2 < bytes.length) ? chars[triplet & 0x3f] : '=';\n  }\n  return result;\n}\n\nfunction hmacSha1(key, message) {\n  var keyBytes = strToBytes(key);\n  var msgBytes = strToBytes(message);\n  if (keyBytes.length > 64) { keyBytes = sha1Bytes(keyBytes); }\n  while (keyBytes.length < 64) { keyBytes.push(0); }\n  var oKeyPad = keyBytes.map(function(b) { return b ^ 0x5c; });\n  var iKeyPad = keyBytes.map(function(b) { return b ^ 0x36; });\n  var innerHash = sha1Bytes(iKeyPad.concat(msgBytes));\n  return bytesToBase64(sha1Bytes(oKeyPad.concat(innerHash)));\n}\n\nfunction generateNonce() {\n  var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n  var nonce = '';\n  for (var i = 0; i < 32; i++) { nonce += chars.charAt(Math.floor(Math.random() * chars.length)); }\n  return nonce;\n}\n\n// Get credentials from Prepare Publishing Data\nconst data = $('Prepare Publishing Data').first().json;\nconst config = data.twitterConfig;\nconst consumerKey = config.consumer_key;\nconst consumerSecret = config.consumer_secret;\nconst accessToken = data.twitterAccessToken;\nconst accessTokenSecret = config.access_token_secret;\n\nconst method = 'POST';\nconst url = 'https://api.twitter.com/2/tweets';\nconst tweetText = data.adapted.twitterContent;\n\n// Generate OAuth parameters\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst nonce = generateNonce();\n\nconst oauthParams = {\n  oauth_consumer_key: consumerKey,\n  oauth_nonce: nonce,\n  oauth_signature_method: 'HMAC-SHA1',\n  oauth_timestamp: timestamp,\n  oauth_token: accessToken,\n  oauth_version: '1.0'\n};\n\n// Create signature base string\nconst paramString = Object.keys(oauthParams)\n  .sort()\n  .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(oauthParams[key]))\n  .join('&');\n\nconst signatureBase = method.toUpperCase() + '&' + \n  encodeURIComponent(url) + '&' + \n  encodeURIComponent(paramString);\n\nconst signingKey = encodeURIComponent(consumerSecret) + '&' + encodeURIComponent(accessTokenSecret);\n\nconst signature = hmacSha1(signingKey, signatureBase);\n\n// Build Authorization header\nconst authHeader = 'OAuth ' + Object.keys(oauthParams)\n  .sort()\n  .map(key => encodeURIComponent(key) + '=\"' + encodeURIComponent(oauthParams[key]) + '\"')\n  .concat('oauth_signature=\"' + encodeURIComponent(signature) + '\"')\n  .join(', ');\n\nreturn [{ json: {\n  ...data,\n  twitterAuthHeader: authHeader,\n  tweetBody: JSON.stringify({ text: tweetText })\n} }];"}, "id": "d4e5f6a7-4001-4000-9001-000000000030", "name": "Generate Twitter OAuth1 Header", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1232, 1600]}, {"parameters": {"content": "## SECTION 1: Content Intake & Draft Generation", "height": 80, "width": 400, "color": 4}, "id": "53c17a1e-5113-43ff-a64b-94dd75a174ef", "name": "Section Label - S1", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-304, -96]}, {"parameters": {"content": "## SECTION 2: Draft Selection & Platform Adaptation", "height": 80, "width": 400, "color": 4}, "id": "13e7a14b-f8a8-495e-aa7d-65555fa2802b", "name": "Section Label - S2", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-304, 704]}, {"parameters": {"content": "## SECTION 3: Real Platform Publishing", "height": 80, "width": 400, "color": 4}, "id": "ab27b51e-31e7-48b1-81f9-c72ee5a8f0fe", "name": "Section Label - S3", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-304, 1504]}, {"parameters": {"url": "https://your-project.supabase.co/rest/v1/platform_connections?select=*&status=eq.active", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}]}, "options": {"response": {"response": {}}, "timeout": 10000}}, "id": "s2-fetch-connections", "name": "S2: Fetch Connections", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3088, 512]}, {"parameters": {"jsCode": "const connections = $input.first().json;\nconst connArray = Array.isArray(connections) ? connections : [connections];\nconst connMap = {};\nfor (const c of connArray) {\n  if (c && c.platform) connMap[c.platform] = c;\n}\n\nconst adapted = $('Combine Adapted Content').first().json;\n\nconst linkedin = connMap.linkedin || {};\nconst newsletter = connMap.newsletter || {};\nconst nlConfig = newsletter.config || {};\n\nreturn [{ json: {\n  linkedinAccessToken: linkedin.access_token || '',\n  linkedinUserId: linkedin.platform_user_id || '',\n  publishLinkedin: !!(linkedin.access_token),\n  newsletterApiKey: newsletter.api_key || '',\n  newsletterFrom: nlConfig.from_address || nlConfig.sender_email || 'onboarding@resend.dev',\n  newsletterFromName: nlConfig.sender_name || 'Fetemi Marketing',\n  publishNewsletter: !!(newsletter.api_key),\n  adaptations: adapted.adaptations || {},\n  idempotencyKey: adapted.idempotencyKey || ''\n} }];"}, "id": "s2-prepare-tokens", "name": "S2: Prepare Publish Tokens", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3088, 656]}, {"parameters": {"respondWith": "json", "options": {}, "responseBody": "={{ $json }}"}, "id": "ddbefd9e-9cbf-4703-b555-f03d33c9014c", "name": "Return Publish Result", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2768, 1712]}], "connections": {"Webhook - Content Submit": {"main": [[{"node": "Validate Input Payload", "type": "main", "index": 0}]]}, "Validate Input Payload": {"main": [[{"node": "Validation Failed?", "type": "main", "index": 0}]]}, "Generate Submission ID & Dedup Hash": {"main": [[{"node": "Check Duplicate in Supabase", "type": "main", "index": 0}]]}, "Check Duplicate in Supabase": {"main": [[{"node": "Is Duplicate?", "type": "main", "index": 0}]]}, "Is Duplicate?": {"main": [[{"node": "Return Duplicate Error", "type": "main", "index": 0}], [{"node": "URL Provided?", "type": "main", "index": 0}]]}, "URL Provided?": {"main": [[{"node": "Fetch URL Content", "type": "main", "index": 0}], [{"node": "Use Raw Idea", "type": "main", "index": 0}]]}, "Fetch URL Content": {"main": [[{"node": "Extract Text from URL Response", "type": "main", "index": 0}]]}, "Extract Text from URL Response": {"main": [[{"node": "Prepare Content Base", "type": "main", "index": 0}]]}, "Use Raw Idea": {"main": [[{"node": "Prepare Content Base", "type": "main", "index": 0}]]}, "Prepare Content Base": {"main": [[{"node": "Save Submission to Supabase", "type": "main", "index": 0}]]}, "Save Submission to Supabase": {"main": [[{"node": "Generate Draft 1 \u2014 Contrarian Angle", "type": "main", "index": 0}]]}, "Generate Draft 1 \u2014 Contrarian Angle": {"main": [[{"node": "Validate Draft 1", "type": "main", "index": 0}]]}, "Validate Draft 1": {"main": [[{"node": "Generate Draft 2 \u2014 Practical How-To", "type": "main", "index": 0}]]}, "Generate Draft 2 \u2014 Practical How-To": {"main": [[{"node": "Validate Draft 2", "type": "main", "index": 0}]]}, "Validate Draft 2": {"main": [[{"node": "Generate Draft 3 \u2014 Data & Trends", "type": "main", "index": 0}]]}, "Generate Draft 3 \u2014 Data & Trends": {"main": [[{"node": "Validate Draft 3", "type": "main", "index": 0}]]}, "Validate Draft 3": {"main": [[{"node": "Package All Drafts", "type": "main", "index": 0}]]}, "Package All Drafts": {"main": [[{"node": "Update Submission with Drafts", "type": "main", "index": 0}]]}, "Update Submission with Drafts": {"main": [[{"node": "S1: Format Success Response", "type": "main", "index": 0}]]}, "S1: Format Success Response": {"main": [[{"node": "Return Drafts to Frontend", "type": "main", "index": 0}]]}, "Validation Failed?": {"main": [[{"node": "Return Validation Error", "type": "main", "index": 0}], [{"node": "Generate Submission ID & Dedup Hash", "type": "main", "index": 0}]]}, "Receive Draft Selection": {"main": [[{"node": "Validate Selection Input", "type": "main", "index": 0}]]}, "Validate Selection Input": {"main": [[{"node": "Fetch Submission from Supabase", "type": "main", "index": 0}]]}, "Fetch Submission from Supabase": {"main": [[{"node": "Validate Submission State", "type": "main", "index": 0}]]}, "Validate Submission State": {"main": [[{"node": "Lock Submission", "type": "main", "index": 0}]]}, "Lock Submission": {"main": [[{"node": "Extract Selected Draft", "type": "main", "index": 0}]]}, "Extract Selected Draft": {"main": [[{"node": "Adapt for LinkedIn", "type": "main", "index": 0}]]}, "Adapt for LinkedIn": {"main": [[{"node": "Validate LinkedIn Content", "type": "main", "index": 0}]]}, "Validate LinkedIn Content": {"main": [[{"node": "Adapt for X Twitter", "type": "main", "index": 0}]]}, "Adapt for X Twitter": {"main": [[{"node": "Enforce X Character Limit", "type": "main", "index": 0}]]}, "Enforce X Character Limit": {"main": [[{"node": "Adapt for Email Newsletter", "type": "main", "index": 0}]]}, "Adapt for Email Newsletter": {"main": [[{"node": "Validate Newsletter Content", "type": "main", "index": 0}]]}, "Validate Newsletter Content": {"main": [[{"node": "Combine Adapted Content", "type": "main", "index": 0}]]}, "Combine Adapted Content": {"main": [[{"node": "Save Adapted Content to Supabase", "type": "main", "index": 0}]]}, "Save Adapted Content to Supabase": {"main": [[{"node": "Publish Immediately?", "type": "main", "index": 0}]]}, "Publish Immediately?": {"main": [[{"node": "S2: Fetch Connections", "type": "main", "index": 0}], [{"node": "Prepare Scheduled Response", "type": "main", "index": 0}]]}, "S2: Publish to LinkedIn": {"main": [[{"node": "Prepare Published Response", "type": "main", "index": 0}]]}, "Publish to X": {"main": [[{"node": "Prepare Published Response", "type": "main", "index": 0}]]}, "Send Newsletter": {"main": [[{"node": "Prepare Published Response", "type": "main", "index": 0}]]}, "Prepare Published Response": {"main": [[{"node": "S2: Update Submission Status", "type": "main", "index": 0}]]}, "Prepare Scheduled Response": {"main": [[{"node": "S2: Update Submission Status", "type": "main", "index": 0}]]}, "S2: Update Submission Status": {"main": [[{"node": "Return Final Result", "type": "main", "index": 0}]]}, "Receive Publish Request": {"main": [[{"node": "Validate Publish Input", "type": "main", "index": 0}]]}, "Validate Publish Input": {"main": [[{"node": "Fetch Adapted Content", "type": "main", "index": 0}]]}, "Fetch Adapted Content": {"main": [[{"node": "Fetch Platform Connections", "type": "main", "index": 0}]]}, "Fetch Platform Connections": {"main": [[{"node": "Prepare Publishing Data", "type": "main", "index": 0}]]}, "Prepare Publishing Data": {"main": [[{"node": "Should Publish LinkedIn?", "type": "main", "index": 0}]]}, "Should Publish LinkedIn?": {"main": [[{"node": "S3: Publish to LinkedIn", "type": "main", "index": 0}], [{"node": "LinkedIn Skipped", "type": "main", "index": 0}]]}, "S3: Publish to LinkedIn": {"main": [[{"node": "Handle LinkedIn Result", "type": "main", "index": 0}]]}, "Handle LinkedIn Result": {"main": [[{"node": "Should Publish Twitter?", "type": "main", "index": 0}]]}, "LinkedIn Skipped": {"main": [[{"node": "Should Publish Twitter?", "type": "main", "index": 0}]]}, "Should Publish Twitter?": {"main": [[{"node": "Generate Twitter OAuth1 Header", "type": "main", "index": 0}], [{"node": "Twitter Skipped", "type": "main", "index": 0}]]}, "Publish to Twitter": {"main": [[{"node": "Handle Twitter Result", "type": "main", "index": 0}]]}, "Handle Twitter Result": {"main": [[{"node": "Should Send Newsletter?", "type": "main", "index": 0}]]}, "Twitter Skipped": {"main": [[{"node": "Should Send Newsletter?", "type": "main", "index": 0}]]}, "Should Send Newsletter?": {"main": [[{"node": "Send Newsletter via Resend", "type": "main", "index": 0}], [{"node": "Newsletter Skipped", "type": "main", "index": 0}]]}, "Send Newsletter via Resend": {"main": [[{"node": "Handle Newsletter Result", "type": "main", "index": 0}]]}, "Handle Newsletter Result": {"main": [[{"node": "Aggregate Publishing Results", "type": "main", "index": 0}]]}, "Newsletter Skipped": {"main": [[{"node": "Aggregate Publishing Results", "type": "main", "index": 0}]]}, "Aggregate Publishing Results": {"main": [[{"node": "S3: Update Submission Status", "type": "main", "index": 0}]]}, "S3: Update Submission Status": {"main": [[{"node": "Update Adapted Content Published At", "type": "main", "index": 0}]]}, "Update Adapted Content Published At": {"main": [[{"node": "Format Final Response", "type": "main", "index": 0}]]}, "Generate Twitter OAuth1 Header": {"main": [[{"node": "Publish to Twitter", "type": "main", "index": 0}]]}, "S2: Fetch Connections": {"main": [[{"node": "S2: Prepare Publish Tokens", "type": "main", "index": 0}]]}, "S2: Prepare Publish Tokens": {"main": [[{"node": "S2: Publish to LinkedIn", "type": "main", "index": 0}, {"node": "Send Newsletter", "type": "main", "index": 0}, {"node": "Publish to X", "type": "main", "index": 0}]]}, "Format Final Response": {"main": [[{"node": "Return Publish Result", "type": "main", "index": 0}]]}}, "authors": "Oluwafimidaraayo Ayodele", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-28T15:57:27.869Z", "id": 1362, "workflowId": "4s1Qyu5nguAssl39", "versionId": "6b917652-46be-4c5c-82c2-dbe31b3d655c", "event": "activated", "userId": "72e8c54b-f625-438a-9514-c13fbadae826"}, {"createdAt": "2026-03-28T15:57:27.625Z", "id": 1361, "workflowId": "4s1Qyu5nguAssl39", "versionId": "6b917652-46be-4c5c-82c2-dbe31b3d655c", "event": "deactivated", "userId": "72e8c54b-f625-438a-9514-c13fbadae826"}]}}